<form [formGroup]="groupForm" (ngSubmit)="updateWorkGroup()">
	<fieldset class="control-group">
		<label class="control-legend" for="group">Groupe</label>
		<select class="select" id="group" formControlName="workGroup">
			<option *ngFor="let group of groups" [selected]="group['active']" [value]="group['id']">{{ group['name']
				}}</option>
		</select>
		
		<button type="submit" [disabled]="workGroup.value === activeGroupId" [ngClass]="{'btn-outline-grey': workGroup.value === activeGroupId, 'btn-green': workGroup.value !== activeGroupId}"><fa-icon [icon]="faCheck"></fa-icon></button>
	</fieldset>
</form>
