<section class="menudrop">
	<button class="menudrop-toggle" [ngClass]="{'color-grey': received.length === 0, 'color-red': received.length > 0, 'incoming': bell}" type="button" data-bs-toggle="menudrop" [attr.aria-expanded]="toggle" aria-live="polite" role="button" aria-haspopup="dialog" aria-controls="notifications-list" (click)="expand()">	
		<fa-icon class="text-size-2" [icon]="faBell"></fa-icon>
	</button>

	<ul id="notifications-list" role="dialog" [attr.aria.hidden]="!toggle" class="menudrop-list-left text-size-1" [ngStyle]="{ 'display': toggle ? 'block' : 'none' }">
		<li role="button" *ngFor="let notification of received" class="menudrop-item mar-y-1" type="button" (click)="deleteNotification(notification.uid)">{{ notification.content }}</li>
		<li *ngIf="received.length === 0" class="menudrop-item mar-y-1">Aucune notification pour l'instant</li>
	</ul>
	<ul class="menudrop-list-left text-size-1" *ngIf="!toggle" [ngStyle]="{ 'display': incoming.length > 0 ? 'block' : 'none' }">
		<li role="button" *ngFor="let message of incoming; let i = index" class="menudrop-item mar-y-1" type="button" (click)="deleteNotification(message['uid'])">{{ message['content'] }}</li>
	</ul>
</section>