@import '../../app.component.scss';

.incoming {
	animation: vibrate .5s infinite;
}

@keyframes vibrate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}