@import "../../../../app.component.scss";

.grid-template {
	&-content {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-areas: 
			"gpName gpNameValue gpNameEdit"
			"gpMembers gpMembersValue gpMembersEdit"
			"gpStatus gpStatusValue gpStatusEdit"
			"backButton . delButton";
		grid-template-rows: 1fr 25vh 1fr 1fr;
		grid-template-columns: 2fr 4fr 2fr;
	}
	&-gpName {
		grid-area: gpName;
		&-Value {
			grid-area: gpNameValue;
		}
		&-Edit {
			grid-area: gpNameEdit;
		}
	}
	&-gpMembers {
		grid-area: gpMembers;
		&-Value {
			grid-area: gpMembersValue;
		}
		&-Edit {
			grid-area: gpMembersEdit;
		}
	}
	&-gpStatus {
		grid-area: gpStatus;
		&-Value {
			grid-area: gpStatusValue;
		}
		&-Edit {
			grid-area: gpStatusEdit;
		}
	}
	&-backButton {
		grid-area: backButton;
	}
	&-delButton {
		grid-area: delButton;
	}
}