<section class="grid-template-content gap-lg">
	<p class="grid-template-gpName">Nom :</p>
	<p class="grid-template-gpName-Value">{{ selectedGroup['name'] }}</p>
	<fa-icon class="link color-middle-blue grid-template-gpName-Edit" *ngIf="selectedGroup['owner']" (click)="editGroupToggle('groupName')" [icon]="faEdit"></fa-icon>
	
	<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="editField === 'groupName'">
		<form [formGroup]="formGroupName" (ngSubmit)="updateGroup()">
			<fieldset class="control-group mar-y-3">
				<label class="control-legend" for="groupName">Nom du groupe</label>
				<input type="text" id="groupName" class="control" formControlName="groupName">
				<ng-container *ngIf="groupName && groupName.errors && (groupName.touched || groupName.dirty)">
					<p class="control-error" *ngIf="groupName && groupName.errors['required']">Champ requis</p>
					<p class="control-error" *ngIf="groupName && groupName.errors['minlength']">Minimum 3 caractères</p>
					<p class="control-error" *ngIf="groupName && groupName.errors['maxlength']">Maximum 30 caractères</p>
				</ng-container>
			</fieldset>
			<button type="button" class="btn-outline-yellow mar-e-3" (click)="editGroupToggle(null)"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Annuler</button>
			<button type="submit" class="btn-outline-middle-blue"><fa-icon [icon]="faSave"></fa-icon>&nbsp;Enregistrer</button>
		</form>
	</section>
	
	
	<p class="grid-template-gpMembers">Membres :</p>

	<section class="grid-template-gpMembers-Value overflow-scroll">
		<ul>
			<li *ngFor="let member of selectedGroup['members']">{{ member }}</li>
		</ul>
	</section>
	<fa-icon class="link color-middle-blue grid-template-gpMembers-Edit" *ngIf="selectedGroup['owner']" [icon]="faEdit" (click)="editGroupToggle('groupMembers')"></fa-icon>

	
	<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="editField === 'groupMembers'">
		<ul class="max-h-vh-15 overflow-scroll grid-rows-1 gap-sm w-percent-100 pad-b-3">
			<li *ngFor="let member of selectedGroup['members']" class="grid-col-2 align-items-center">
				<p class="display-inline text-left">{{ member }}</p>
				<button class="btn-red justify-self-end" type="button" (click)="updateGroup(member)"><fa-icon [icon]="faX"></fa-icon></button>
			</li>
		</ul>
		<form [formGroup]="formGroupUser" (ngSubmit)="updateGroup()">
			<fieldset class="control-group mar-y-3">
				<label for="groupMembers" class="control-legend">Adresse email du membre</label>
				<input type="email" id="groupMembers" class="control" formControlName="member">
				<button [ngClass]="{'btn-outline-middle-blue': formGroupUser.valid, 'btn-outline-grey': formGroupUser.invalid}" [disabled]="formGroupUser.invalid"><fa-icon [icon]="faPlus"></fa-icon></button>
			</fieldset>
			<ng-container *ngIf="member && member.errors && (member.touched || member.dirty)">
				<p class="control-error mar-y-3" *ngIf="member && member.errors['required']">Champ requis</p>
				<p class="control-error mar-y-3" *ngIf="member && member.errors['email']">Email requis</p>
			</ng-container>
			<p class="control-error mar-y-3" *ngIf="feedBack === 'ownerError'">Vous ne pouvez pas quitter un groupe dont vous êtes propriétaire.</p>
			<p class="control-error mar-y-3" *ngIf="feedBack === 'noUserFoundError'">Aucun utilisateur trouvé avec cette adresse mail.</p>
			<p class="control-error mar-y-3" *ngIf="feedBack === 'userAlreadyGroupedError'">Cet utilisateur est déjà dans le groupe.</p>
			<button class="btn-outline-middle-blue" (click)="editGroupToggle(null)"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
		</form>
	</section>


	<p class="grid-template-gpStatus">Visibilité :</p>
	<p class="grid-template-gpStatus-Value" [ngClass]="{'color-green': selectedGroup['status'], 'color-yellow': !selectedGroup['status']}">{{ selectedGroup['status'] === true ? 'Public' : 'Privé' }}</p>
	<fa-icon class="link color-middle-blue grid-template-gpStatus-Edit" *ngIf="selectedGroup['owner']" [icon]="faEdit" (click)="editGroupToggle('groupStatus')"></fa-icon>

		
	<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="editField === 'groupStatus'">
		<form class="grid-template-gpStatus-Value flex-col-c" [formGroup]="formGroupStatus">
			<fieldset class="control-group mar-y-3 mar-x-auto w-auto">
				<label for="status" class="control-legend">Visibilité du groupe</label>
				<button class="border-right-0" (click)="status = true" [ngClass]="{'btn-outline-green': !status.value, 'btn-green': status.value}" type="button">Public</button>
				<button class="border-right-round-0" (click)="status = false" [ngClass]="{'btn-outline-yellow': status.value, 'btn-yellow': !status.value}" type="button">Privé</button>
			</fieldset>
			<button class="btn-outline-middle-blue" (click)="editGroupToggle(null)"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
		</form>	
	</section>

	
	<ng-container *ngIf="selectedGroup['owner']">
		<button type="button" class="btn-outline-yellow grid-template-delButton" (click)="deleteToggle()"><fa-icon [icon]="faTrash"></fa-icon>&nbsp;Supprimer</button>
	</ng-container>
	<ng-container *ngIf="!selectedGroup['owner']">
		<button type="button" class="btn-outline-yellow grid-template-delButton" (click)="leaveToggle()"><fa-icon [icon]="faX"></fa-icon>&nbsp;Quitter</button>
		
	</ng-container>
	
	<button type="button" class="btn-outline-middle-blue align-self-start grid-template-backButton" (click)="goBack()"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
	
	<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="deleteGroup">
		<p>Êtes-vous sûr⋅e de vouloir supprimer ce groupe ?<br>Les projets de ce groupe seront perdus.</p>
		<p *ngIf="feedBack === 'lastGroupError'" class="control-error">Vous ne pouvez pas supprimer votre dernier groupe.<br>Créez en un nouveau avant de supprimer celui-ci.</p>
		<p *ngIf="feedBack === 'forbidenError'" class="control-error">Vous n'avez pas la permission de supprimer ce groupe.</p>
		<section class="flex-row-c justify-content-evenly mar-t-3">
			<button class="btn-outline-middle-blue" (click)="deleteToggle()"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
			<button type="button" class="btn-outline-red" (click)="deleteGp()">Confirmer</button>
		</section>
	</section>

	<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="leaveGroup">
		<p>Êtes-vous sûr⋅e de vouloir quitter ce groupe ?</p>
		<p *ngIf="!selectedGroup['status']">Vous ne pourrez le rejoindre à nouveau qu'en étant invité par son propriétaire.</p>
		<section class="flex-row-c justify-content-evenly mar-t-3">
			<button class="btn-outline-middle-blue" (click)="leaveToggle()"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
			<button *ngIf="leaveGroup" type="button" class="btn-outline-red" (click)="leaveGp()">Confirmer</button>
		</section>
	</section>
</section>


<section class="card-float-background" *ngIf="editField !== null" (click)="editGroupToggle(null)"></section>
<section class="card-float-background" *ngIf="deleteGroup" (click)="deleteToggle()"></section>
<section class="card-float-background" *ngIf="leaveGroup" (click)="leaveToggle()"></section>