<section class="card-sm card-float border-round-1 h-vh-5 flex-col-c justify-content-center">
	<p *ngIf="feedback" [ngClass]="{'color-red': !feedback['status'], 'color-green': feedback['status']}">{{ feedback['message'] }}<br>Redirection vers la page d'accueil dans {{ timer }}</p>
</section>