<form class="display-inline" [formGroup]="dataSetForm" (ngSubmit)="onSubmit()">
    <fieldset class="control-group">
        <label for="dataSet" class="control-legend">Carte</label>
        <select id="dataSet" class="select" formControlName="proxyma">
            <option *ngFor="let elem of proxyma_list" [ngValue]="{ id: elem['id'], title: elem['title'] }">{{ elem['title'] }}</option>
        </select>

        <button type="submit" [ngClass]="dataSetForm.valid ? 'btn-green' : 'btn-outline-grey'" [disabled]="dataSetForm.invalid">
            <fa-icon [icon]="faCheck"></fa-icon>
        </button>
    </fieldset>
</form>