<form [formGroup]="corpusForm" class="w-percent-100 grid-col-1 gap-md">
    <fieldset class="control-group">
        <label for="activity" class="control-legend">Activité</label>
        <input type="text" id="activity" class="control" formControlName="activity" [disabled]="preMap">
    </fieldset>

    <ng-container *ngIf="!openAction">
        <ng-container formArrayName="objectives">
            <ng-container *ngFor="let control of objectives.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="objective" class="control-legend">Objectif {{ i+1 }}</label>
                    <input type="text" id="objective" class="control" formControlName="control">
                    <button type="button"
                        [ngClass]="{'btn-outline-yellow': objectives.controls.length > 1, 'btn-outline-grey': objectives.controls.length === 1}"
                        [disabled]="objectives.controls.length === 1" (click)="removeField(objectives, i)"><fa-icon
                            [icon]="faMinus"></fa-icon>
                    </button>
                    <button type="button" *ngIf="l" class="btn-outline-green" (click)="addField(objectives)"><fa-icon
                            [icon]="faPlus"></fa-icon></button>
                </fieldset>
            </ng-container>
        </ng-container>
        
        <ng-container formArrayName="performances">
            <ng-container *ngFor="let control of performances.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="criterion" class="control-legend">Critère de performance</label>
                    <input type="text" id="criterion" class="control" formControlName="criterion">
                    <label for="value" class="control-legend">valeur</label>
                    <input type="text" id="value" class="control" formControlName="value">
                    <label for="unit" class="control-legend">unité</label>
                    <input type="text" id="unit" class="control" formControlName="unit">
                    <button type="button"
                        [ngClass]="performances.controls.length > 1 ? 'btn-outline-yellow' : 'btn-outline-grey'"
                        [disabled]="performances.controls.length === 1" (click)="removeField(performances, i)">
                        <fa-icon [icon]="faMinus"></fa-icon>
                    </button>
                    <button type="button" *ngIf="l" class="btn-outline-green" (click)="addField(performances)">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </fieldset>
            </ng-container>
        </ng-container>

        
        <ng-container formArrayName="schemes">
            <ng-container *ngFor="let control of schemes.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="scheme" class="control-legend">Scheme {{ i+1 }}</label>
                    <input type="text" id="scheme" class="control" formControlName="control">
                    <button type="button" [ngClass]="schemes.controls.length === 1 ? 'btn-outline-grey' : 'btn-outline-yellow'" [disabled]="schemes.controls.length === 1" (click)="removeField(schemes, i)"><fa-icon [icon]="faMinus"></fa-icon></button>
                    <button type="button" *ngIf="l" class="btn-outline-green" (click)="addField(schemes)"><fa-icon [icon]="faPlus"></fa-icon></button>
                </fieldset>
            </ng-container>
        </ng-container>
        
        <fieldset class="control-group">
            <label for="situation" class="control-legend">Situation</label>
            <input type="text" id="situation" class="control" formControlName="situation">
        </fieldset>
        
        <fieldset class="control-group">
            <label for="action-select" class="control-legend">Action</label>
            <select id="action-select" class="select" formControlName="action">
                <optgroup *ngIf="hasUnvalidatedTasks(selectData['tasks'])" label="non validées">
                    <ng-container *ngFor="let task of selectData['tasks']">
                        <option *ngIf="!task['validated']" [ngValue]="task">{{ task['actions'] }}</option>
                    </ng-container>
                </optgroup>
                <optgroup *ngIf="hasValidatedTasks(selectData['tasks'])" label="validées">
                    <ng-container *ngFor="let task of selectData['tasks']">
                        <option *ngIf="task['validated']" [ngValue]="task">{{ task['actions'] }}</option>
                    </ng-container>
                </optgroup>
            </select>
            <button type="button" [ngClass]="action.valid ? 'btn-outline-green' : 'btn-outline-grey'"
                [disabled]="action.invalid" (click)="loadAction()">
                <fa-icon [icon]="faCheck"></fa-icon>
            </button>
        </fieldset>
    </ng-container>


    <ng-container *ngIf="openAction && !preMap">
        <ng-container formArrayName="actions">
            <ng-container *ngFor="let control of actions.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="action" class="control-legend">Action</label>
                    <input type="text" id="action" class="control" formControlName="control">
                    
                </fieldset>
            </ng-container>
        </ng-container>
        
        
        <ng-container formArrayName="actors">
            <ng-container *ngFor="let control of actors.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="actor" class="control-legend">Acteur {{ i+1 }}</label>
                    <input type="text" id="actor" class="control" formControlName="control">
                    <button type="button"
                        [ngClass]="{'btn-outline-yellow': actors.controls.length > 1, 'btn-outline-grey': actors.controls.length === 1}"
                        [disabled]="actors.controls.length === 1" (click)="removeField(actors, i)"><fa-icon
                            [icon]="faMinus"></fa-icon>
                    </button>
                    <button type="button" *ngIf="l" class="btn-outline-green" (click)="addField(actors)"><fa-icon
                            [icon]="faPlus"></fa-icon></button>
                </fieldset>
            </ng-container>
        </ng-container>
        

        <fieldset class="control-group">
            <label for="scheme" class="control-legend">Scheme</label>
            <select id="scheme" class="select" formControlName="scheme">
                <option *ngFor="let elem of schemes.value" [value]="elem.control">{{ elem.control }}</option>
            </select>
        </fieldset>

        
        <ng-container formArrayName="environmental_resources">
            <ng-container *ngFor="let control of environmental_resources.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="description" class="control-legend">Ressource environmentale {{ i+1 }}</label>
                    <input type="text" id="description" class="control" formControlName="description">
                    <label for="type" class="control-legend">type</label>
                    <input type="text" id="type" class="control" formControlName="type">
                    <button type="button"
                        [ngClass]="{'btn-outline-yellow': environmental_resources.controls.length > 1, 'btn-outline-grey': environmental_resources.controls.length === 1}"
                        [disabled]="environmental_resources.controls.length === 1"
                        (click)="removeField(environmental_resources, i)"><fa-icon [icon]="faMinus"></fa-icon>
                    </button>
                    <button type="button" *ngIf="l" class="btn-outline-green"
                        (click)="addField(environmental_resources)"><fa-icon [icon]="faPlus"></fa-icon></button>
                </fieldset>
            </ng-container>
        </ng-container>
        
        <ng-container formArrayName="personnal_resources">
            <ng-container *ngFor="let control of personnal_resources.controls; let i = index; let l = last">
                <fieldset class="control-group" [formGroupName]="i">
                    <label for="description" class="control-legend">Ressource personnelle {{ i+1 }}</label>
                    <input type="text" id="description" class="control" formControlName="description">
                    <label for="type" class="control-legend">type</label>
                    <select id="type" class="select" formControlName="type">
                        <option value="k">Connaissance</option>
                        <option value="s">Aptitude</option>
                        <option value="a">Comportement</option>
                    </select>
                    <button type="button"
                        [ngClass]="{'btn-outline-yellow': personnal_resources.controls.length > 1, 'btn-outline-grey': personnal_resources.controls.length === 1}"
                        [disabled]="personnal_resources.controls.length === 1"
                        (click)="removeField(personnal_resources, i)"><fa-icon [icon]="faMinus"></fa-icon>
                    </button>
                    <button type="button" *ngIf="l" class="btn-outline-green" (click)="addField(personnal_resources)"><fa-icon
                            [icon]="faPlus"></fa-icon></button>
                </fieldset>
            </ng-container>
        </ng-container>
    </ng-container>
</form>

<app-pre-map *ngIf="preMap" [data]="corpusForm" [corpusId]="corpusId" [corpusName]="corpusName" [activityIndex]="activityIndex" (back)="togglePreMap()" class="w-percent-100 h-vh-60 flex-row-c"></app-pre-map>

<section *ngIf="!preMap" class="flex-row-c gap-md">
    <button *ngIf="openAction" type="button" class="btn-outline-yellow" (click)="unloadAction()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;Précédent
    </button>
    <button class="btn-outline-middle-blue" *ngIf="openAction" (click)="togglePreMap()">Suivant&nbsp;<fa-icon [icon]="faArrowRight"></fa-icon></button>
</section>
