<form class="display-inline" [formGroup]="dataSetForm" (ngSubmit)="onSubmit()">
    <fieldset class="control-group">
        <label class="control-legend" for="dataSet">Corpus</label>
        <select id="dataSet" class="select" formControlName="corpus">
            <option *ngFor="let elem of corpus" [ngValue]="{ id: elem['id'], title: elem['title'] }">{{ elem["title"] }}</option>
        </select>
        <button type="submit" [ngClass]="{ 'btn-outline-grey': dataSetForm.invalid, 'btn-green': dataSetForm.valid }" [disabled]="dataSetForm.invalid"><fa-icon
            [icon]="faCheck"></fa-icon></button>
    </fieldset>
</form>