@import '../assets/styles/global-styles.scss';

* {
	font-family: 'SFTSchrifted-Regular';
}

main .container h1 {
	margin-bottom: 50px;
	font-family: 'SFTSchrifted-Regular';
	font-size: 30px;
}

main .container p {
	width: 700px;
	text-align: center;
	font-family: "Inter";
	font-size: 16px;
}

/* NavBar */

header {
	overflow: visible;
}

header .background {
	width: 100%;
	height: 5vh;
	overflow: visible;
}

header .header-nav {
	background-color: #ede9e6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	max-width: 100%;
	width: 100%;
	height: 80px;
	position: fixed;
	font-family: "Inter";
	font-size: 12px;
	z-index: 10;
}

header .header-nav .logo {
	margin-left: 5vw;
}

header .header-nav .nav-lg {
	@media screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		margin-right: 5vw;
	}
	@media screen and (max-width: 1319px) {
		
	}
}

header .header-nav ul .custom-button {
	border: 2px solid black;
	background-color: #F4F4F4f1;
	border-radius: 42px;
	@media screen and (min-width: 1232px) {
		margin: 0 1rem;
		font-size: 1rem;
		padding: .8rem 1.2rem;
	}
	@media screen and (max-width: 1231px) {
		margin: 0 .8rem;
		font-size: .8rem;
		padding: .4rem .6rem;
	}
}


