<header>
    <section class="background">
        <nav class="header-nav">
            <a href="#" class="h-1 logo mar-t-5 pad-t-4 text-bold">
                <ng-container *ngIf="currentURI.endsWith(routes.Carrousel)">PROXYMA</ng-container>
                <ng-container *ngIf="currentURI.endsWith(routes.Data)">BeatCorp</ng-container>
                <ng-container *ngIf="!currentURI.endsWith(routes.Data) && !currentURI.endsWith(routes.Carrousel)">CaTCaP</ng-container>
            </a>
            <ul class="nav-lg" *ngIf="['lg', 'xl'].includes(type)">
                <li *ngIf="user" class="text-size-1" [ngClass]="{ 'mar-e-5': ['lg', 'xl'].includes(type) }">
                    Bonjour {{ user['firstname'] }}
                </li>
                <li *ngIf="user" [ngClass]="{ 'mar-e-5': ['lg', 'xl'].includes(type) }">
                    <app-notification [useremail]="user['email']"></app-notification>
                </li>
                <li class="custom-button">
                    <a class="link" [routerLink]="routes.HomePage" routerLinkActive="color-orange"
                        [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                </li>
                <li class="custom-button">
                    <a class="link" [routerLink]="routes.Carrousel" routerLinkActive="color-middle-blue"
                        [routerLinkActiveOptions]="{exact: true}">PROXYMA</a>
                </li>
                <li class="custom-button" *ngIf="user">
                    <a class="link" [routerLink]="routes.Data" routerLinkActive="color-green"
                        [routerLinkActiveOptions]="{exact: true}">Données</a>
                </li>
                <li class="custom-button" *ngIf="user">
                    <a class="link" [routerLink]="routes.Maps" routerLinkActive="color-yellow"
                        [routerLinkActiveOptions]="{exact: true}">Carte</a>
                </li>
                <li class="custom-button" *ngIf="user">
                    <a class="link" href="http://localhost:5173">Test</a>
                </li>
                <li class="custom-button" *ngIf="!user">
                    <a class="link" [routerLink]="routes.Register" routerLinkActive="color-red"
                        [routerLinkActiveOptions]="{exact: true}">Inscription</a>
                </li>
                <li class="custom-button" *ngIf="!user">
                    <a class="link" [routerLink]="routes.Login" routerLinkActive="color-light-orange"
                        [routerLinkActiveOptions]="{exact: true}">Connexion</a>
                </li>
                <li class="custom-button" *ngIf="user">
                    <a class="link" [routerLink]="routes.Account" routerLinkActive="color-light-orange" [routerLinkActiveOptions]="{exact: true}">Paramètres</a>
                </li>
                <li class="custom-button" *ngIf="user">
                    <a class="link" [routerLink]="routes.Logout" routerLinkActive="color-blue"
                        [routerLinkActiveOptions]="{exact: true}">Déconnexion</a>
                </li>
            </ul>


            <section class="menudrop" class="w-vw-65 flex-row-r-e justify-content-between" *ngIf="!['lg', 'xl'].includes(type)">
                <button class="menudrop-toggle mar-e-5" type="button" data-bs--toggle="menudrop" aria-expended="false" (click)="expand()">
                    <fa-icon class="text-size-2" [icon]="faAngleDoubleDown"></fa-icon>
                </button>
                <app-notification class="pad-s-4" *ngIf="user" [useremail]="user['email']"></app-notification>
                <p *ngIf="user && type === 'md'" class="text-size-1 mar-y-auto">
                    Bonjour {{ user['firstname'] }}
                </p>

                <section class="card-float-background" *ngIf="toggle" (click)="expand()"></section>
            </section>
                <ul class="menudrop-list-right text-size-1" [ngStyle]="{ 'display': toggle ? 'block' : 'none'}">
                    <li *ngIf="user && type !== 'md'" class="text-size-1 border-bottom-1 pad-3">
                        Bonjour {{ user['firstname'] }}
                    </li>
                    <li class="menudrop-item mar-y-1"  (click)="expand()">
                        <a class="link" [routerLink]="routes.HomePage" routerLinkActive="color-orange"
                            [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  (click)="expand()">
                        <a class="link" [routerLink]="routes.Carrousel" routerLinkActive="color-middle-blue"
                            [routerLinkActiveOptions]="{exact: true}">PROXYMA</a>
                    </li>
                    <li class="menudrop-item mar-y-1" *ngIf="user">
                        <a class="link" [routerLink]="routes.Data" routerLinkActive="color-green"
                            [routerLinkActiveOptions]="{exact: true}">Données</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  *ngIf="user" (click)="expand()">
                        <a class="link" [routerLink]="routes.Maps" routerLinkActive="color-yellow"
                            [routerLinkActiveOptions]="{exact: true}">Carte</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  *ngIf="!user" (click)="expand()">
                        <a class="link" [routerLink]="routes.Register" routerLinkActive="color-red"
                            [routerLinkActiveOptions]="{exact: true}">Inscription</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  *ngIf="!user" (click)="expand()">
                        <a class="link" [routerLink]="routes.Login" routerLinkActive="color-light-orange"
                            [routerLinkActiveOptions]="{exact: true}">Connexion</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  *ngIf="user" (click)="expand()">
                        <a class="link" [routerLink]="routes.Account" routerLinkActive="color-light-orange" [routerLinkActiveOptions]="{exact: true}">Paramètres</a>
                    </li>
                    <li class="menudrop-item mar-y-1"  *ngIf="user" (click)="expand()">
                        <a class="link" [routerLink]="routes.Logout" routerLinkActive="color-blue"
                            [routerLinkActiveOptions]="{exact: true}">Déconnexion</a>
                    </li>
                </ul>
                
        </nav>
    </section>
</header>



<main class="text-center container">
	<router-outlet></router-outlet>
    <section class="card-float-background" *ngIf="type === 'xs' && disclaimSmalScreen"></section>
    <section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="type === 'xs' && disclaimSmalScreen">
        <h3 class="h-3">Bienvenue sur CaTCaPapp,</h3>
        <p class="text-justify">Vous naviguez sur l'application depuis votre mobile et nous respectons votre choix,<br>cependant, sachez que les outils que nous mettons à votre disposition sur ce site seront plus faciles à utiliser depuis un écran plus grand.</p>

        <button type="button" class="btn-green mar-t-3" (click)="disclaimSmalScreen = false">J'ai compris !</button>
    </section>
</main>

<footer class="footer">
    <ul class="flex-row-c gap-lg">
        <li title="Mentions légales">
            <a class="link" [routerLink]="routes.LegalNotice" routerLinkActive="color-middle-blue" [routerLinkActiveOptions]="{exact: true}">
                <fa-icon *ngIf="type === 'xs'; else legal" [icon]="faScaleBalanced"></fa-icon>
                <ng-template #legal>
                    Mentions légales
                </ng-template>
            </a>
        </li>
        <li title="Politique de confidentialité">
            <a class="link" [routerLink]="routes.RGPD" routerLinkActive="color-middle-blue" [routerLinkActiveOptions]="{exact: true}">
                <fa-icon *ngIf="type === 'xs'; else privacy" [icon]="faFileShield"></fa-icon>
                <ng-template #privacy>
                    Politique de confidentialité
                </ng-template>
            </a>
        </li>
        <li title="Contactez-nous">
            <a class="link" [routerLink]="routes.Contact" routerLinkActive="color-middle-blue" [routerLinkActiveOptions]="{exact: true}">
                <fa-icon *ngIf="type === 'xs'; else contact" [icon]="faEnvelope"></fa-icon>
                <ng-template #contact>
                    Contactez-nous
                </ng-template>
            </a>
        </li>
    </ul>
</footer>