<section id="filters" [ngClass]="{'mapLoaded': mapLoaded, 'openFilters': filterToggle && mapLoaded}">
    <section class="forms">
        <form [formGroup]="dateFilterGroup">
            <fieldset class="control-group filter-line">
                <label for="date" class="control-legend">Date</label>
                <input id="date" type="date" class="control" (change)="filter()" formControlName="date">
            </fieldset>
        </form>

        <form class="text-size-1" [formGroup]="labelFilterGroup" (change)="filter()">
            <ul class="text-left">
                <li class="filter-line">
                <input id="all" type="checkbox" class="mar-e-1 checkbox-fade-white" formControlName="all">
                <label for="all">Tous</label>
            </li>
            <li class="filter-line">
                <input id="actions" type="checkbox" class="mar-e-1 checkbox-dark-grey" formControlName="Action">
                <label for="actions">Actions</label>
            </li>
            <li class="filter-line">
                <input id="activities" type="checkbox" class="mar-e-1 checkbox-middle-blue" formControlName="Activity">
                <label for="activities">Activités</label>
            </li>
            <li class="filter-line">
                <input id="actors" type="checkbox" class="mar-e-1 checkbox-yellow" formControlName="Actor">
                <label for="actors">Acteurs</label>
            </li>
            <li class="filter-line">
                <input id="objectives" type="checkbox" class="mar-e-1 checkbox-orange" formControlName="Objective">
                <label for="objectives">Objectifs</label>
            </li>
            <li class="filter-line">
                <input id="performances" type="checkbox" class="mar-e-1 checkbox-pink" formControlName="Performance">
                <label for="performances">Performances</label>
            </li>
            <li class="filter-line">
                <input id="environmental_resources" type="checkbox" class="mar-e-1 checkbox-green"
                    formControlName="Environmental_Resource">
                <label for="environmental_resources">Ressources environmentales</label>
            </li>
            <li class="filter-line">
                <input id="personnal_resources" type="checkbox" class="mar-e-1 checkbox-light-orange"
                    formControlName="Personnal_Resource">
                <label for="personnal_resources">Ressources personnelles</label>
            </li>
            <li class="filter-line">
                <input id="schemes" type="checkbox" class="mar-e-1 checkbox-blue" formControlName="Scheme">
                <label for="schemes">Schemes</label>
            </li>
            <li class="filter-line">
                <input id="situations" type="checkbox" class="mar-e-1 checkbox-grey" formControlName="Situation">
                <label for="situations">Situations</label>
            </li>
            </ul>
            
        </form>

        <button type="button" class="btn-outline-middle-blue" (click)="removeFilter()"><fa-icon
                [icon]="faCircleXmark"></fa-icon>&nbsp;Enlever les filtres</button>
    </section>

    <p class="filters-button" (click)="toggleFilters()"><fa-icon [icon]="faAngle" class="filters-angle"></fa-icon>&nbsp;Filtres</p>
</section>