@import '../../maps.component.scss';

:host {
	position: static;
}

#filters {
	display: flex;
	align-self: center;
	width: min-content;
	position: absolute;
	top: 15%;
	right: -510px;
	transition: transform ease-in-out .8s;
	filter: drop-shadow(2px 9px 24px rgba(0,0,0,.07));
}

.mapLoaded {
	transform: translateX(-100px);
}

.openFilters {
	transform: translateX(-320px);
}

#filters .forms {
	padding: 20px;
	background-color: white;
	z-index: 1;
	border-radius: 0 0 0 50px;
	width: 220px;
}

#filters li.filter-line {
	display: flex;
	justify-content: center;
	width: min-content;
	margin-bottom: 20px;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#filters p.filters-button {
	display: flex;
	justify-content: flex-start;
	border-radius: 0 0 50px 50px;
	background-color: white;
	z-index: 1;
	padding: 30px;
	width: min-content;
	transform: rotate(90deg) translateX(100%) translateY(430%);
	transform-origin: right top;
	height: min-content;
	align-items: start;
	color: #000;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-right: 20px;
	cursor: pointer;
}

#filters .filters-button .filters-angle {
	width: 27px;
	height: 16px;
	display: block;
}