<ul class="flex-row-c justify-content-evenly">
	<ng-container *ngIf="createNodes || relyNodes || detachNodes || editNodes">
		<li class="column-7" [ngClass]="['lg', 'xl'].includes(type) ? 'column-7' : 'card-float card-full text-center border-round-5 mar-x-auto mar-b-5 pad-5'">
			<form *ngIf="createNodes" [formGroup]="nodeForm" (ngSubmit)="addNode()"
				class="flex-row-s justify-content-evenly">
				<fieldset class="control-group mar-b-2">
					<label for="nodeType" class="control-legend">Nœud</label>
					<select id="nodeType" formControlName="nodeType" class="select">
						<option value="Action">Action</option>
						<option value="Activity">Activité</option>
						<option value="Actor">Acteur</option>
						<option value="Objective">Objectif</option>
						<option value="Performance">Performance</option>
						<option value="Environmental_Resource">Ressource environmentale</option>
						<option value="Personnal_Resource">Ressource personnelle</option>
						<option value="Scheme">Scheme</option>
						<option value="Situation">Situation</option>
					</select>
				</fieldset>

				<fieldset class="control-group">
					<ng-container *ngIf="showFields === 1">
						<label class="control-legend" for="nodeDescription">intitulé</label>
						<input type="text" id="nodeDescription" formControlName="description"
							class="control">
						<ng-container *ngIf="nodeForm.get('nodeType').value === 'Environmental_Resource'">
							<label class="control-legend" for="resourceType">type</label>
							<input type="text" id="resourceType" formControlName="type" class="control">
						</ng-container>
						<ng-container *ngIf="nodeForm.get('nodeType').value === 'Personnal_Resource'">
							<label for="resourceType" class="control-legend">type</label>
							<select id="resourceType" formControlName="type" class="select">
								<option value="k">Connaissance</option>
								<option value="s">Aptitude</option>
								<option value="a">Comportement</option>
							</select>
						</ng-container>
						<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
					</ng-container>


					<ng-container *ngIf="showFields === 2">
						<label class="control-legend" for="actorName">nom</label>
						<input type="text" id="actorName" formControlName="name" class="control">
						<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
					</ng-container>

					<ng-container *ngIf="showFields === 3">

						<label class="control-legend" for="criterion">critère</label>
						
						
						<input type="text" id="criterion" formControlName="criterion" class="control">
						

						<label class="control-legend" for="value">valeur</label>
						<input type="text" id="value" formControlName="value" class="control">

						<label class="control-legend" for="unit">unité</label>
						<input type="text" id="unit" formControlName="unit" class="control">

						<button type="submit"
							[ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}"
							[disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>

					</ng-container>

					<ng-container *ngIf="showFields === 4">
						<label class="control-legend" for="actions_sequence">séquence d'actions</label>
						<input type="text" id="actions_sequence" formControlName="actions_sequence"
							class="control">
							<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>

					</ng-container>
				</fieldset>
			</form>


			<form [formGroup]="edgeForm" (ngSubmit)="connectNodes()" *ngIf="relyNodes" class="control-group">
				<label for="connect1" class="control-legend">Relier</label>
				<select id="connect1" formControlName="from" class="select">
					<ng-container *ngFor="let node of data">
						<option
							*ngIf="getFromPermission(node['labels'][0])"
							[ngValue]="node">{{ node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] }}</option>
					</ng-container>
				</select>


				<label for="connect2" class="control-legend">avec</label>
				<select id="connect2" formControlName="to" class="select">
					<ng-container *ngIf="edgeForm.get('from').value">
						<ng-container *ngFor="let node of getToPermission(edgeForm.get('from').value['labels'][0])">
							<option [ngValue]="node" *ngIf="!isConnected(edgeForm.get('from').value, node)">{{
								node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"]
								|| node["properties"]["criterion"]  + ' : ' + node["properties"]["value"] + node["properties"]["unit"] }}</option>
						</ng-container>
					</ng-container>
				</select>

				<button type="submit" [ngClass]="{'btn-outline-green': edgeForm.valid, 'btn-outline-grey': edgeForm.invalid}" [disabled]="edgeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
			</form>

			<form [formGroup]="edgeForm" (ngSubmit)="disconnectNodes()" *ngIf="detachNodes" class="control-group">
				<label for="detach1" class="control-legend">Détacher</label>
				<select id="detach1" formControlName="from" class="select">
					<ng-container *ngFor="let node of data">
						<option
							*ngIf="getFromPermission(node['labels'][0])"
							[ngValue]="node">{{ node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] }}</option>
					</ng-container>
				</select>

				<label for="detach2" class="control-legend">de</label>
				<select id="detach2" formControlName="to" class="select">
					<ng-container *ngIf="edgeForm.get('from').value">
						<ng-container *ngFor="let node of getToPermission(edgeForm.get('from').value['labels'][0])">
							<option [ngValue]="node" *ngIf="isConnected(edgeForm.get('from').value, node)">{{
								node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] || node["properties"]["criterion"]  + ' : ' + node["properties"]["value"] + node["properties"]["unit"] }}</option>
						</ng-container>
					</ng-container>
				</select>

				<button type="submit" [ngClass]="{'btn-outline-green': edgeForm.valid, 'btn-outline-grey': edgeForm.invalid}" [disabled]="edgeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
			</form>

			<form [formGroup]="nodeForm" (ngSubmit)="updateNode()" *ngIf="editNodes" class="control-group">
				<label for="nodeToEdit" class="control-legend">Nœud à éditer</label>
				<select id="nodeToEdit" formControlName="node" class="select">
					<option [value]="null" selected>Choisissez un nœud</option>
					<ng-container *ngFor="let node of data">
						<option *ngIf="!node['labels'].includes('Proxyma_Corpus')" [ngValue]="node">{{
							node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] || node["properties"]["criterion"]  + ' : ' + node["properties"]["value"] + node["properties"]["unit"] }}</option>
					</ng-container>
				</select>
				<fieldset class="control-group flex-grow-1">
					<ng-container *ngIf="showFields === 1">
						<label class="control-legend" for="nodeDescription">intitulé</label>
						<input type="text" id="nodeDescription" formControlName="description"
							class="control">
						<ng-container *ngIf="nodeForm.get('nodeType').value === 'Environmental_Resource'">
							<label class="control-legend" for="resourceType">type</label>
							<input type="text" id="resourceType" formControlName="type" class="control">
						</ng-container>
						<ng-container *ngIf="nodeForm.get('nodeType').value === 'Personnal_Resource'">
							<label for="resourceType" class="control-legend">type</label>
							<select id="resourceType" formControlName="type" class="select">
								<option value="k">Connaissance</option>
								<option value="s">Aptitude</option>
								<option value="a">Comportement</option>
							</select>
						</ng-container>
						<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
					</ng-container>

					<ng-container *ngIf="showFields === 2">
						<label class="control-legend" for="actorName">nom</label>
						<input type="text" id="actorName" formControlName="name" class="control">
						<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>
					</ng-container>

					<ng-container *ngIf="showFields === 3">

						<label class="control-legend" for="criterion">critère</label>
						
						
						<input type="text" id="criterion" formControlName="criterion" class="control">
						

						<label class="control-legend" for="value">valeur</label>
						<input type="text" id="value" formControlName="value" class="control">

						<label class="control-legend" for="unit">unité</label>
						<input type="text" id="unit" formControlName="unit" class="control">

						<button type="submit"
							[ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}"
							[disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>

					</ng-container>

					<ng-container *ngIf="showFields === 4">
						<label class="control-legend" for="actions_sequence">séquence d'actions</label>
						<input type="text" id="actions_sequence" formControlName="actions_sequence"
							class="control">
						<button type="submit" [ngClass]="{'btn-outline-green': nodeForm.valid, 'btn-outline-grey': nodeForm.invalid}" [disabled]="nodeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon></button>

					</ng-container>

					<button *ngIf="showFields" type="button" class="btn-outline-red"
						(click)="deleteNode(nodeForm.get('node').value['properties']['uid'])"><fa-icon
							[icon]="faTrash"></fa-icon></button>
				</fieldset>
			</form>


		</li>
	</ng-container>

	<ng-container *ngIf="loadMap">
		<li class="column-8">
			<app-compare-maps (loadSignal)="mapComparator($event)"></app-compare-maps>
		</li>
	</ng-container>

	<ng-container *ngIf="uploadMap">
		<li class="column-8">
			<form class="control-group">
				<label for="upload" class="control-legend">Importer</label>
				<input type="file" class="control" id="upload" (change)="onFileSelected($event)"
					accept=".json">
				<button type="button" (click)="upload()" class="btn-outline-green"><fa-icon [icon]="faCheck"></fa-icon></button>
			</form>
		</li>
	</ng-container>

	<ng-container *ngIf="downloadMap">
		<li class="column-8">
			<form class="control-group">
				<label for="title" class="control-legend">Titre de la carte</label>
				<input type="text" class="control" id="title" (change)="onDownloadRenamed($event)" [value]="projectTitle">
				<button type="button" class="btn-outline-green" (click)="download()"><fa-icon [icon]="faDownload"></fa-icon></button>
			</form>
		</li>
	</ng-container>

	<ng-container>
		<ng-container *ngIf="!createNodes && !relyNodes && !detachNodes && !editNodes && !uploadMap && !downloadMap && !loadMap">
			<li>
				<button type="button" class="btn-outline-middle-blue" (click)="toggleCreateNode(true)"><fa-icon [icon]="faCirclePlus"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Créer' : null}}</button>
			</li>
			<li>
				<button type="button"
					[ngClass]="{'btn-outline-middle-blue': data.length > 2, 'btn-outline-grey': data.length <= 2}"
					[disabled]="data.length <= 2" (click)="toggleRelyNode(true)"><fa-icon [icon]="faLink"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Relier' : null}}</button>
			</li>
			<li>
				<button type="button"
					[ngClass]="{'btn-outline-middle-blue': edgeNumber >= 1, 'btn-outline-grey': edgeNumber < 1}"
					[disabled]="edgeNumber < 1" (click)="toggleDetachNode(true)"><fa-icon [icon]="faLinkSlash"></fa-icon>{{ ['lg', 'xl'].includes(type) ? '\&nbsp;Détacher' : null }}</button>
			</li>
			<li>
				<button type="button"
					[ngClass]="{'btn-outline-middle-blue': data.length > 1, 'btn-outline-grey': data.length <= 1}"
					[disabled]="data.length <= 1" (click)="toggleEditNode(true)"><fa-icon [icon]="faSquarePen"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Éditer' : null}}</button>
			</li>
			<li>
				<button type="button" class="btn-outline-green" (click)="loadMap = true">
					<fa-icon [icon]="faFolderOpen"></fa-icon>{{ ['lg', 'xl'].includes(type) ? '\&nbsp;Charger' : null }}
				</button>
			</li>
			<li>
				<button type="button" class="btn-outline-green" (click)="uploadMap = true"><fa-icon
						[icon]="faUpload"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Importer' : null }}</button>
			</li>
			<li>
				<button type="button"
					[ngClass]="{'btn-outline-green': data.length > 1, 'btn-outline-grey': data.length <= 1}"
					[disabled]="data.length <= 1" (click)="downloadMap = true"><fa-icon
						[icon]="faDownload"></fa-icon>{{ ['lg', 'xl'].includes(type) ? '\&nbsp;Télécharger' : null }}</button>
			</li>
		</ng-container>
		<li>
			<button type="button"
				[ngClass]="{'btn-outline-green': data.length > 1, 'btn-outline-grey': data.length <= 1}"
				[disabled]="data.length <= 1" (click)="saveMap()"><fa-icon
					[icon]="faSave"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Enregistrer' : null }}</button>
		</li>
	</ng-container>
	<li>
		<button type="button" class="btn-outline-yellow" (click)="goBack()"><fa-icon
			[icon]="faArrowRotateLeft"></fa-icon>{{['lg', 'xl'].includes(type) ? '\&nbsp;Retour' : null }}</button>
	</li>

</ul>


<section *ngIf="alertMessage" class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5 flex-row-c justify-content-center gap-md">
    <p class="w-percent-100">Vous avez des éléments non sauvegardés. Voulez-vous vraiment quitter la page ? Les éléments non sauvegardés seront perdus.</p>
    <button class="btn-outline-green mar-e-3" (click)="alertMessage = false">Rester</button>
    <button class="btn-red" (click)="goBack(true)">Quitter</button>
</section>

<section class="card-float-background" *ngIf="alertMessage" (click)="alertMessage = false"></section>

<section *ngIf="saving" class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5 flex-row-c justify-content-center gap-md">
	<p class="w-percent-100">Votre carte est en cours de sauvegarde. Nous vous préviendrons lorsqu'elle sera prête.</p>
	<button class="btn-outline-green" (click)="saving = false"><fa-icon [icon]="faCheck"></fa-icon>J'ai compris !</button>
</section>

<section class="card-float-background" *ngIf="saving" (click)="saving = false"></section>