<section class="card-sm card-float border-round-1 h-vh-5 flex-col-c justify-content-center">
    <ng-container *ngIf="feedback">
		<p class="text-center" [ngClass]="{'color-red': !feedback['status'], 'color-green': feedback['status']}">{{ feedback['message'] }}.<br>Redirection vers l'accueil dans {{ timer }} {{ timer >= 1 ? 'secondes' : 'seconde' }}</p>
	</ng-container>
</section>