<app-group-selector class="mar-b-5"></app-group-selector>

<ul *ngIf="proxyma_list.length > 0" class="max-h-vh-40 overflow-scroll grid-rows-1 gap-sm w-percent-100 mar-x-auto pad-b-3">
	<li *ngFor="let corpus of proxyma_list" class="grid-col-2 w-percent-95 align-items-center">
		<p class="display-inline text-left">{{ corpus['title'] }}</p>

		<section class="justify-self-end">
			<button class="btn-middle-blue display-inline" type="button" (click)="toggleUpdateCorpus(corpus)"><fa-icon [icon]="faEdit"></fa-icon></button>&nbsp;

			<button class="btn-red display-inline" type="button" (click)="toggleDeleteCorpus(corpus['id'])"><fa-icon [icon]="faTrash"></fa-icon></button>
		</section>

	</li>
</ul>

<p *ngIf="proxyma_list.length <= 0">Il n'y a aucun projet enregistré dans ce groupe de travail.</p>

<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="deleteCorpus">
	<app-proxyma-deleter [proxyma_corpus_id]="deleteCorpus" (rollBack)="toggleDeleteCorpus()"></app-proxyma-deleter>
</section>


<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5" *ngIf="updateCorpus">
	<p>Renommer le projet {{ updateCorpus['title'] }}</p>
	<p class="mar-t-3" *ngIf="feedback" [ngClass]="feedback === 'success' ? 'control-valid' : 'control-error'">{{ feedback === 'success' ? 'Le titre du projet a été mis à jour.' : 'Échec lors de la mise à jour du titre du projet' }}</p>
	<form class="mar-t-3" [formGroup]="corpusTitleForm" (ngSubmit)="submitUpdateCorpus()">
		<fieldset class="control-group mar-b-3">
			<label class="control-legend" for="projectTitle">Nouveau titre</label>
			<input type="text"id="projectTitle" formControlName="corpus_title" class="control">
		</fieldset>
		<button type="button" [ngClass]="feedback ? 'btn-outline-grey' : 'btn-outline-middle-blue'" class="mar-e-3" [disabled]="feedback" (click)="toggleUpdateCorpus()"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>

		<button type="submit" [ngClass]="{'btn-green': corpusTitleForm.valid && !feedback, 'btn-outline-grey': corpusTitleForm.invalid || feedback}" [disabled]="corpusTitleForm.invalid || feedback"><fa-icon [icon]="faCheck"></fa-icon>&nbsp;Valider</button>
	</form>
</section>


<section class="card-float-background" *ngIf="deleteCorpus || updateCorpus" (click)="deleteCorpus ? toggleDeleteCorpus() : toggleUpdateCorpus()"></section>