<p *ngIf="successMessage" class="text-center text-bold color-green card-sm card-float border-round-5 mar-x-auto pad-5">Nous vous avons envoyé un mail avec un lien pour renouveler votre mot de passe<br>Redirection vers la page d'accueil dans {{ timer }}</p>
<p *ngIf="failMessage" class="text-center text-bold color-red card-sm card-float border-round-5 mar-x-auto pad-5">Une erreur s'est produite...<br>Redirection vers la page d'accueil dans {{ timer }}</p>

<section class="card-md border-round-1 mar-x-auto pad-5">
	<h3 class="h-3">Mot de passe oublié</h3>
	<form [formGroup]="forgotForm" (ngSubmit)="submit()">
		<fieldset class="control-group mar-y-2">
			<label for="email" class="control-legend">Email</label>
			<input type="email" id="email" formControlName="email" class="control" required aria-required="true" [ngClass]="{'invalid': (email && email.errors && (email.touched || email.dirty) && (email.errors['required'] || email.errors['email'])), 'valid': (email && !email.errors)}">
			<ng-container *ngIf="email && email.errors && (email.touched || email.dirty)">
				<p class="control-error" *ngIf="email && email.errors['required']">Champ requis</p>
				<p class="control-error" *ngIf="email && email.errors['email']">Mauvais format d'email</p>
			</ng-container>
		</fieldset>
		<button type="submit" [disabled]="forgotForm.invalid" [ngClass]="{'btn-outline-grey': forgotForm.invalid, 'btn-green': forgotForm.valid}">Valider</button>
	</form>
</section>