<form class="flex-col-c justify-content-center gap-md mar-b-3 w-percent-100" [formGroup]="firstnameForm" (ngSubmit)="updateUser(firstnameForm)">
	<fieldset class="control-group">
		<label for="firstname" class="control-legend">Prénom</label>
		<input type="text" id="firstname" formControlName="firstname" class="control">
		<button type="submit" [disabled]="firstnameForm.invalid || !firstname.dirty" [ngClass]="{'btn-outline-grey': firstnameForm.invalid || !firstname.dirty, 'btn-green': firstnameForm.valid && firstname.dirty}"><fa-icon [icon]="faCheck"></fa-icon></button>
		</fieldset>
		<ng-container *ngIf="firstname && firstname.errors && (firstname.touched || firstname.dirty)">
			<p class="control-error" *ngIf="firstname && firstname.errors['minlength']">Prénom trop court (minimum 3
				caractères)</p>
			<p class="control-error" *ngIf="firstname && firstname.errors['pattern']">Chaque prénom doit commencer par
				une
				majuscule</p>
			<p class="control-error" *ngIf="firstname && firstname.errors['required']">Champ requis</p>
		</ng-container>
</form>

<form class="flex-col-c justify-content-center gap-md mar-b-3 w-percent-100" [formGroup]="lastnameForm" (ngSubmit)="updateUser(lastnameForm)">
	<fieldset class="control-group">
		<label for="lastname" class="control-legend">Nom</label>
		<input id="lastname" type="text" formControlName="lastname" class="control">
		<button type="submit" [disabled]="lastnameForm.invalid || !lastname.dirty" [ngClass]="{'btn-outline-grey': lastnameForm.invalid || !lastname.dirty, 'btn-green': lastnameForm.valid && lastname.dirty}"><fa-icon [icon]="faCheck"></fa-icon></button>
	</fieldset>
	<ng-container *ngIf="lastname && lastname.errors && (lastname.touched || lastname.dirty)">
		<p class="control-error" *ngIf="lastname && lastname.errors['minlength']">Nom trop court (minimum 3
			caractères)
		</p>
		<p class="control-error" *ngIf="lastname && lastname.errors['pattern']">Chaque nom doit commencer par une
			majuscule</p>
		<p class="control-error" *ngIf="lastname && lastname.errors['required']">Champ requis</p>
	</ng-container>
</form>

<form class="flex-col-c justify-content-center gap-md mar-b-3 w-percent-100" [formGroup]="emailForm" (ngSubmit)="updateUser(emailForm)">
	<fieldset class="control-group">
		<label for="email" class="control-legend">Email</label>
		<input id="email" type="email" formControlName="email" class="control">
		<button type="submit" [disabled]="emailForm.invalid || !email.dirty" [ngClass]="{'btn-outline-grey': emailForm.invalid || !email.dirty, 'btn-green': emailForm.valid && email.dirty}"><fa-icon [icon]="faCheck"></fa-icon></button>
	</fieldset>
	<ng-container *ngIf="email && email.errors && (email.touched || email.dirty)">
		<p class="control-error" *ngIf="email && email.errors['required']">Champ requis</p>
		<p class="control-error" *ngIf="email && email.errors['email']">Mauvais format d'email</p>
	</ng-container>
</form>

<form class="flex-col-c justify-content-center gap-md mar-b-3 w-percent-100" [formGroup]="typeForm" (ngSubmit)="updateUser(typeForm)">
	<fieldset class="control-group">
		<label for="type" class="control-legend">Vous êtes un⋅e</label>
		<select id="type" class="select" formControlName="type">
			<option value="NR">Non renseigné</option>
			<option value="STUDENT">Étudiant⋅e</option>
			<option value="TEACHER">Enseignant⋅e</option>
			<option value="RESEARCHER">Chercheur⋅e</option>
			<option value="LECTURER-RESEARCHER">Enseignant⋅e-chercheur⋅e</option>
			<option value="COMPANY">Professionnel entreprise</option>
			<option value="OTHER">Professionnel autre</option>
		</select>
		<button type="submit" [disabled]="typeForm.invalid || !type.dirty" [ngClass]="{'btn-outline-grey': typeForm.invalid || !type.dirty, 'btn-green': typeForm.valid && type.dirty}"><fa-icon [icon]="faCheck"></fa-icon></button>
		<ng-container *ngIf="type && type.errors && (type.touched || type.dirty)">
			<p class="control-error" *ngIf="type && type.errors['required']">Champ requis</p>
		</ng-container>
		
	</fieldset>
</form>
<ng-container *ngIf="!passwordForm">
	<fieldset class="control-group mar-b-3">
		<label for="" class="control-legend">Mot de passe</label>
		<input type="password" id="fakePsswrd" class="control" value="f4k3P4ssw0rd" disabled>
		<button type="button" class="btn-outline-middle-blue" (click)="setPasswordForm()">Modifier</button>
	</fieldset>
</ng-container>
<app-password *ngIf="passwordForm" class="mar-y-2" (rollback)="setPasswordForm()"></app-password>

<form class="flex-col-c justify-content-center gap-md w-percent-100" [formGroup]="agreementForm">
	<fieldset class="control-group">
		<input type="checkbox" id="agreement" class="mar-s-5" formControlName="agreement" (change)="updateUser(agreementForm)">
		<label for="agreement" class="mar-s-3">Recevoir les mails de maintenance</label>
	</fieldset>
</form>
<ng-container *ngIf="feedback">
	<p class="text-center mar-b-5" [ngClass]="{'control-error': !feedback['status'], 'control-valid': feedback['status']}">
		{{ feedback['message'] }}</p>
</ng-container>

<section class="mar-t-5">
	<ng-container *ngIf="!deleteAccount">
		<button type="button" class="btn-outline-yellow" (click)="setDeleteAccount()">Supprimer votre compte</button>
	</ng-container>
	<app-delete-account *ngIf="deleteAccount" (rollback)="setDeleteAccount()"></app-delete-account>
</section>