<article class="card-lg border-round-1 mar-x-auto mar-y-5 pad-y-5 h-vh-60 w-vw-70 overflow-scroll">
    <ng-container *ngIf="contents && contents.length else noContents">
        <h1 class="h-1">Mentions légales</h1>
        <ng-container *ngFor="let content of contents">
            <section class="mar-b-5 text-left pad-x-3">
                <h2 class="h-2">{{ content['order'] }}. {{ content['title'] }}</h2>
                <p [innerHTML]="content['text']"></p>
            </section>
        </ng-container>
    </ng-container>

    <ng-template #noContents>
        <p>Les mentions légales sont en cours de rédaction...</p>
    </ng-template>
</article>