<section class="card-full h-vh-80 w-vw-80 border-round-1 mar-x-auto mar-y-5">
    <section class="grid-col-3 gap-sm pad-3">
        <app-group-selector></app-group-selector>
        
        <app-corpus-loader (loadSignal)="load($event)"></app-corpus-loader>

        <form>
            <fieldset class="control-group">
                <label class="control-legend" for="data">Données brutes</label>
                <input type="file" id="data" class="control" accept="application/JSON" (change)="onFileSelected($event)">
                <button type="button" (click)="submitData()" [ngClass]="selectedFile ? 'btn-green' : 'btn-outline-grey'" [disabled]="!selectedFile"><fa-icon [icon]="faCheck"></fa-icon></button>
            </fieldset>
        </form>
    </section>

    <app-data-viewer class="overflow-scroll" *ngIf="corpus" [data]="corpus" [corpusId]="corpusId" [corpusName]="corpusName" (clear)="clear($event)"></app-data-viewer>
</section>