<section id="editor" [ngClass]="{'openEditor': editorToggle}">
    <section class="editor h-vh-35" *ngIf="state === undefined">
        <button type="button" class="btn-outline-green mar-b-3" (click)="setState('connect')"><fa-icon [icon]="faPlus"></fa-icon>&nbsp;Ajouter des liens</button>
        <button type="button" [ngClass]="edgeNumber ? 'btn-outline-green' : 'btn-outline-grey'" (click)="setState('disconnect')" [disabled]="edgeNumber <= 0"><fa-icon [icon]="faMinus"></fa-icon>&nbsp;Enlever des liens</button>
    </section>

    <section class="editor h-vh-35" *ngIf="state === 'connect'">
        <form [formGroup]="edgeForm" (ngSubmit)="connectNodes()">
            <fieldset class="control-group mar-b-2">
                <label for="connect1" class="control-legend">Relier</label>
                <select id="connect1" class="select" formControlName="from">
                    <ng-container *ngFor="let node of data">
                        <option *ngIf="getFromPermission(node['labels'][0])" [ngValue]="node">{{
                            node['properties']['name'] || node['properties']['description'] ||
                            node['properties']['actions_sequence'] }}</option>
                    </ng-container>
                </select>
            </fieldset>
            <fieldset class="control-group mar-b-2">
                <label for="connect2" class="control-legend">avec</label>
                <select id="connect2" class="select" formControlName="to">
                    <ng-container *ngIf="edgeForm.get('from').value">
                        <ng-container *ngFor="let node of getToPermission(edgeForm.get('from').value['labels'][0])">
                            <option [ngValue]="node" *ngIf="!isConnected(edgeForm.get('from').value, node)">{{
                                node["properties"]["description"] || node["properties"]["name"] ||
                                node["properties"]["actions_sequence"]
                                || node["properties"]["criterion"] + ' : ' + node["properties"]["value"] +
                                node["properties"]["unit"] }}</option>
                        </ng-container>
                    </ng-container>
                </select>
            </fieldset>
            <button type="submit" class="mar-b-2" [ngClass]="edgeForm.valid ? 'btn-outline-green' : 'btn-outline-grey'"
            [disabled]="edgeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon>&nbsp;Valider</button>
            <button type="button" class="btn-outline-green" (click)="setState()"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;Retour</button>
        </form>
    </section>

    <section class="editor h-vh-35" *ngIf="state === 'disconnect'">
        <form [formGroup]="edgeForm" (ngSubmit)="disconnectNodes()">
            <fieldset class="control-group mar-b-2">
                <label for="detach1" class="control-legend">Détacher</label>
                <select id="detach1" class="select" formControlName="from">
                    <ng-container *ngFor="let node of data">
                        <option *ngIf="getFromPermission(node['labels'][0])" [ngValue]="node">{{ node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] }}</option>
                    </ng-container>
                </select>
            </fieldset>
            <fieldset class="control-group mar-b-2">
                <label for="detach2" class="control-legend">de</label>
                <select id="detach2" formControlName="to" class="select">
                    <ng-container *ngIf="edgeForm.get('from').value">
						<ng-container *ngFor="let node of getToPermission(edgeForm.get('from').value['labels'][0])">
							<option [ngValue]="node" *ngIf="isConnected(edgeForm.get('from').value, node)">{{
								node["properties"]["description"] || node["properties"]["name"] || node["properties"]["actions_sequence"] || node["properties"]["criterion"]  + ' : ' + node["properties"]["value"] + node["properties"]["unit"] }}</option>
						</ng-container>
					</ng-container>
                </select>
            </fieldset>
            <button type="submit" class="mar-b-2" [ngClass]="edgeForm.valid ? 'btn-outline-green' : 'btn-outline-grey'" [disabled]="edgeForm.invalid"><fa-icon [icon]="faCheck"></fa-icon>&nbsp;Valider</button>
            <button type="button" class="btn-outline-green" (click)="setState()"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;Retour</button>
        </form>
    </section>

    <p class="editor-button" (click)="toggleEditor()"><fa-icon [icon]="faAngle"></fa-icon>&nbsp;Éditeur</p>
</section>