@import '../../data.component.scss';

:host {
    position: static;
}

#editor {
    display: flex;
    align-self: center;
    width: min-content;
    position: absolute;
    top: 15%;
    right: -415px;
    transition: transform ease-in-out .8s;
    filter: drop-shadow(2px 9px 24px rgba(0,0,0,.07));
}

.openEditor {
    transform: translateX(-215px)
}

#editor .editor {
    padding: 20px;
    background-color: white;
    z-index: 1;
    border-radius: 0 0 0 50px;
    width: 220px;
}

#editor p.editor-button {
    display: flex;
	justify-content: flex-start;
	border-radius: 0 0 50px 50px;
	background-color: white;
	z-index: 1;
	padding: 30px;
	width: min-content;
	transform: rotate(90deg) translateX(100%) translateY(430%);
	transform-origin: right top;
	height: min-content;
	align-items: start;
	color: #000;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-right: 20px;
	cursor: pointer;
}

#editor p.editor-button .editor-angle {
    width: 27px;
	height: 16px;
	display: block;
}