<section id="legend" [ngClass]="{'mapLoaded': mapLoaded, 'openLegend': legend && mapLoaded}">
	<ul class="list">
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-grey"></fa-icon>&nbsp;Action</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-middle-blue"></fa-icon>&nbsp;Activité</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-yellow"></fa-icon>&nbsp;Acteur</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-orange"></fa-icon>&nbsp;Objectif</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-pink"></fa-icon>&nbsp;Performance</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-green"></fa-icon>&nbsp;Ressource environnementale</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-light-orange"></fa-icon>&nbsp;Ressource personnelle</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-blue"></fa-icon>&nbsp;Scheme</li>
		<li class="legend-line text-left"><fa-icon [icon]="faCircle" class="color-light-grey"></fa-icon>&nbsp;Situation</li>
	</ul>

	<p class="legend-button" (click)="toggleLegend()"><fa-icon [icon]="faAngle" class="legend-angle"></fa-icon>&nbsp;Légende</p>
</section>


