@import '../../../app.component.scss';

:host {
	position: static;
}

#legend {
	display: flex;
	align-self: center;
	width: min-content;
	position: absolute;
	top: 15%;
	left: -320px;
	transition: transform ease-in-out .8s;
	filter: drop-shadow(2px 9px 24px rgba(0, 0, 0, 0.07));
}

.mapLoaded {
	transform: translateX(100px);
}

.openLegend {
	transform: translateX(320px);
}

#legend ul.list {
	padding: 20px;
	background-color: white;
	z-index: 1;
	border-radius: 0 0 50px 0;
	width: 220px;
}

#legend ul.list li.legend-line {
	display: flex;
	justify-content: center;
	width: min-content;
	margin-bottom: 20px;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#legend p.legend-button {
	display: flex;
	justify-content: flex-start;
	border-radius: 0 0 50px 50px;
	background-color: white;
	z-index: 1;
	padding: 30px;
	width: min-content;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: left top;
	height: min-content;
	align-items: start;
	color: #000;
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-right: 20px;
	cursor: pointer;
}

#legend .legend-button .legend-angle {
	width: 27px;
	height: 16px;
	display: block;
}
