<form [formGroup]="groupForm" (ngSubmit)="addGroup()" class="flex-col-c gap-md mar-b-3">
	<fieldset class="control-group">
		<label for="groupName" class="control-legend">Nom du groupe</label>
		<input type="text" id="groupName" formControlName="group_name" class="control border-round-1" [ngClass]="{'invalid': (group_name && group_name.errors && (group_name.touched || group_name.dirty)), 'valid': (group_name && !group_name.errors)}">
		<ng-container *ngIf="group_name && group_name.errors && (group_name.touched || group_name.dirty)">
			<p class="control-error" *ngIf="group_name && group_name.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="group_name && group_name.errors['minlength']">Identifiant trop court (minimum 5
				caractères)</p>
		</ng-container>
	</fieldset>
</form>

<section class="flex-col-c gap-md mar-b-3">
	<fieldset class="control-group">
		<label class="control-legend">Ajouter des membres :</label>
		<input type="email" class="control" [(ngModel)]="user" placeholder="nom@email.com" required>
		<button type="button" [ngClass]="user ? 'btn-outline-middle-blue' : 'btn-outline-grey'" [disabled]="!user" (click)="updateUsers()">+</button>
	</fieldset>
	<ul *ngIf="users.length >= 1" class="max-h-vh-15 overflow-scroll grid-rows-1 gap-sm w-percent-90 pad-b-3">
		<li *ngFor="let user of users" class="grid-col-2 align-items-center">
			<p class="display-inline text-left">{{ user }}</p>
			<button (click)="updateUsers(user)" class="btn-red justify-self-end"><fa-icon [icon]="faX"></fa-icon></button>
		</li>
	</ul>
</section>

<form [formGroup]="groupForm" (ngSubmit)="addGroup()" class="flex-col-c gap-md">
	<fieldset class="control-group">
		<label for="status" class="control-legend">Visibilité du groupe</label>
		<button class="control" [ngClass]="{'btn-outline-green': !group_status.value, 'btn-green': group_status.value}" type="button" (click)="updateStatus(true)">Public</button>
		<button class="control" [ngClass]="{'btn-outline-middle-blue': group_status.value, 'btn-middle-blue': !group_status.value}" type="button" (click)="updateStatus(false)">Privé</button>
	</fieldset>

	<fieldset class="flex-row-c gap-lg">
		<button type="button" class="btn-outline-middle-blue align-self-start" (click)="goBack()">Retour</button>
		<button type="submit" class="	align-self-end" [disabled]="groupForm.invalid" [ngClass]="{'btn-outline-grey': groupForm.invalid, 'btn-green': groupForm.valid}">Valider</button>
	</fieldset>
</form>