<form class="flex-col-c justify-content-center" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteSubmit()">
	<fieldset class="control-group mar-y-2">
		<label for="password" class="control-legend">Mot de passe</label>
		<input type="password" formControlName="password" id="password" class="control"
			[ngClass]="{'invalid': (password && password.errors && (password.touched || password.dirty) && (password.errors['required'] || password.errors['pattern'])), 'valid': (password && !password.errors)}">
		<ng-container *ngIf="password && password.errors && (password.touched || password.dirty)">
			<p class="control-error" *ngIf="password && password.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="password && password.errors['uppercase'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum une majuscule</p>
			<p class="control-error" *ngIf="password && password.errors['lowercase'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum une minuscule</p>
			<p class="control-error" *ngIf="password && password.errors['numeric'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum un chiffre</p>
			<p class="control-error" *ngIf="password && password.errors['specialChar'] && !password.errors['required']">Le
				mot de passe doit contenir au minimum un caractère spécial</p>
			<p class="control-error" *ngIf="password && password.errors['length'] && !password.errors['required']">Le mot de
				passe doit contenir au minimum 8 caractères</p>
		</ng-container>
	</fieldset>
	<fieldset class="flex-row-c justify-content-evenly">
		<button type="button" class="btn-green" (click)="goBack()">Annuler</button>
		<button type="submit" [disabled]="deleteAccountForm.invalid" [ngClass]="{'btn-outline-grey': deleteAccountForm.invalid, 'btn-red': deleteAccountForm.valid}">Confirmer</button>
	</fieldset>
	<ng-container *ngIf="feedback">
		<p class="text-center" [ngClass]="{'control-error': !feedback['status'], 'control-valid': feedback['status']}">{{ feedback['message'] }}</p>
	</ng-container>
</form>

