.slide {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: normal;
    &-img {
        float: inline-start;
        width: 40%;
        height: auto;
        margin-right: 15px;
    }
    &-content {
        padding: 0 5rem;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    &-text {
        text-align: justify;
    }
}

.slider-container {
    grid-column: 2 / span 10;
    grid-row: 1 / span 6;
    overflow: hidden;
    position: absolute;
    height: 70%;
    width: 100%;
}

.slider-wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
}

.slider-prev,
.slider-next {
    cursor: pointer;
    font-size: 2rem;
    transition: transform .2s;
    align-self: center;
    position: relative;
}

.slider-prev:hover,
.slider-next:hover {
    transform: scale(1.5);
}

.slider-prev {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.slider-next {
    grid-column: 12;
    grid-row: 2 / span 2;
}

.display_grid {
    height: 50vh;
    width: 75vw;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 10vh);
    justify-items: center;
}