<h2 class="h-2">Les dernières actualités</h2>
<section class="display_grid">
    <section class="slider-container">
        <section #sliderWrapper class="slider-wrapper">
            <ng-container *ngFor="let elem of news">
                <article #slide class="card-sm pad-3 border-round-1 slide">
                    <header class="mar-b-2 mar-x-auto">
                        <h3 class="h-3 display-inline">{{ elem['title'] }}</h3> | le <time [datetime]="elem['date']">{{
                            elem['date'].split('-')[2] }}/{{ elem['date'].split('-')[1] }}/{{ elem['date'].split('-')[0]
                            }}</time>
                    </header>
                    <section class="slide-content">
                        <img *ngIf="elem['img']" [src]="elem['img']" [alt]="elem['img_alt']" class="slide-img">
                        <p class="slide-text" [innerHTML]="elem['text']"></p>
                    </section>
                </article>
            </ng-container>                
        </section>
    </section>
    <fa-icon role="button" *ngIf="news.length > 1" (click)="previous()" class="slider-prev" [icon]="faArrowLeft"></fa-icon>
    <fa-icon role="button" *ngIf="news.length > 1" (click)="next()" class="slider-next" [icon]="faArrowRight"></fa-icon>
</section>