<section class="display_grid">
	<section class="slider-container">
		<section class="slider-wrapper">
			<section role="button" aria-haspopup="dialog" [attr.aria-expanded]="status === 'low-level' ? true : false" aria-controls="low-level" class="slide border-round-1 color-dark link pad-2" title="Cliquez-moi dessus !" (click)="toggleStatus('low-level')">
				<h5 id="low-level-traces">1: Collecte des traces bas niveau</h5>

				<p>Si vous souhaitez en apprendre plus sur l'idée initiale du projet CaTCaP, cliquez sur cette vignette.</p>
				<fa-icon class="color-middle-blue arrow  pad-b-3" [icon]="circleRight"></fa-icon>
			</section>

			<section role="button" aria-haspopup="dialog" [attr.aria-expanded]="status === 'high-level' ? true : false" aria-controls="high-level" class="slide border-round-1 color-dark link pad-2" title="Cliquez-moi dessus !" (click)="toggleStatus('high-level')">
				<h5 id="high-level-traces">2: Collecte des traces de haut niveau</h5>

				<p>Si vous voulez savoir comment collecter vos données pour en extraire des cartes de compétences, cliquez ici.</p>

				<fa-icon class="color-middle-blue arrow  pad-b-3" [icon]="circleRight"></fa-icon>
			</section>

			<section role="button" aria-haspopup="dialog" [attr.aria-expanded]="status === 'data-treatment' ? true : false" aria-controls="data-treatment" class="slide border-round-1 color-dark link pad-2" title="Cliquez-moi dessus !" (click)="toggleStatus('data-treatment')">
				<h5 id="data-treatment-process">3: Préparation des données</h5>
				
				<p>Si vous êtes curieux de notre façon de mettre en forme vos données, cliquez ici.</p>
				<fa-icon class="color-orange arrow  pad-b-3" [icon]="circleRight"></fa-icon>
			</section>

			<section role="button" aria-haspopup="dialog" [attr.aria-expanded]="status === 'graph-database' ? true : false" aria-controls="graph-database" class="slide border-round-1 color-dark link pad-2" title="Cliquez-moi dessus !" (click)="toggleStatus('graph-database')">
				<h5 id="graph-database-usages">4: Mise en base de données graphique</h5>

				<p>Pour savoir pourquoi nous utilisons une base de données à base de graphes, cliquez ici.</p>
				<fa-icon class="color-yellow arrow  pad-b-3" [icon]="circleRight"></fa-icon>
			</section>
			<section role="button" aria-haspopup="dialog" [attr.aria-expanded]="status === 'map-tuto' ? true : false" aria-controls="map-tuto" class="slide border-round-1 color-dark link pad-2" title="Cliquez-moi dessus !" (click)="toggleStatus('map-tuto')">
				<h5 id="map-tutorials">5: Construction de la carte des compétences</h5>

				<p>Si vous voulez apprendre comment créer une carte, cliquez ici.</p>

				<fa-icon class="color-green arrow pad-b-3" [icon]="circleRight"></fa-icon>

			</section>
		</section>
	</section>


	<fa-icon role="button" class="slider-prev" [icon]="arrowLeft"></fa-icon>
	<fa-icon role="button" class="slider-next" [icon]="arrowRight"></fa-icon>

</section>



<app-low-level-traces class="card-float card-lg text-justify border-round-5 mar-x-auto mar-b-5 pad-5 h-vh-60 overflow-scroll" id="low-level" role="dialog" aria-labelledby="low-level-traces" [attr.aria-hidden]="status === 'low-level' ? false : true" *ngIf="status === 'low-level'"></app-low-level-traces>
<app-high-level-traces class="card-float card-lg text-justify border-round-5 mar-x-auto mar-b-5 pad-5 h-vh-60 overflow-scroll" id="high-level" role="dialog" aria-labelledby="high-level-traces" [attr.aria-hidden]="status === 'high-level' ? false : true" *ngIf="status === 'high-level'"></app-high-level-traces>
<app-data-treatment class="card-float card-lg text-justify border-round-5 mar-x-auto mar-b-5 pad-5 h-vh-60 overflow-scroll" id="data-treatment" role="dialog" aria-labelledby="data-treatment-process" [attr.aria-hidden]="status === 'data-treatment' ? false : true" *ngIf="status === 'data-treatment'"></app-data-treatment>
<app-graph-database class="card-float card-lg text-justify border-round-5 mar-x-auto mar-b-5 pad-5 h-vh-60 overflow-scroll" id="graph-database" role="dialog" aria-labelledby="graph-database-usages" [attr.aria-hidden]="status === 'graph-database' ? false : true" *ngIf="status === 'graph-database'"></app-graph-database>
<app-map-tuto class="card-float card-lg text-justify border-round-5 mar-x-auto mar-b-5 pad-5 h-vh-60 overflow-scroll" id="map-tuto" role="dialog" aria-labelledby="map-tutorials" [attr.aria-hidden]="status === 'map-tuto' ? false : true" *ngIf="status === 'map-tuto'"></app-map-tuto>
	
<section class="card-float-background" role="button" aria-label="close-dialog-box" *ngIf="status" (click)="toggleStatus()"></section>