@import '../../app.component.scss';

:host {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; 
}

.slide {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: map-get($colors, "white");
}

@media screen and (width >=640px) {
    .slide {
        min-width: calc(100% / 3);

    }
}

.display_grid {
    height: 50vh;
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 10vh);
    justify-items: center;
}

.slider-container {
    grid-column: 2 / span 10;
    grid-row: 2 / span 6;
    overflow: hidden;
    position: absolute;
    top: 20%;
    height: 50%;
    width: 100%;
}

.slider-wrapper {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    min-height: 100%;
}


/* slide transition with arrows */

.slider-prev,
.slider-next {
    cursor: pointer;
    font-size: 2rem;
    transition: transform .2s;
    align-self: center;
    position: relative;
    top: 70%;
}

.slider-prev:hover,
.slider-next:hover {
    transform: scale(1.5);
}

.slider-prev {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.slider-next {
    grid-column: 12;
    grid-row: 2 / span 2;
}


/* drag'n'drop carousel */

.switch {
    transition: left 0.2s ease-out;
}


/* slide hover blur transition */

.slider-wrapper
{
    transition: filter 1s;
}

.slider-wrapper:hover .slide
{
    filter: blur(4px);
}

.slider-wrapper>.slide
{
    transition: filter 1s;
}

.slider-wrapper>.slide:hover
{
    filter: blur(0);
}


.arrow {
    font-size: 2.5rem;
    justify-self: end;
    align-self: end;
    margin-top: auto;
    margin-right: 1rem;
    transform: rotate(0.87turn)
}
