<section class="grid-3-3 h-percent-50 gap-md" *ngIf="contents.length">
	<ng-container *ngFor="let content of contents">
		<ng-container *ngIf="content['order']%2 !== 0">
			<article [class]="'grid-row-'+content['order']+'-1'" [ngClass]="content['video'] ? 'grid-col-1-2' : 'grid-col-1-3'">
				<p [innerHTML]="content['text']"></p>
			</article>
			<section *ngIf="content['video']" class="grid-col-3-1 pos-relative" [ngClass]="'grid-row-'+content['order']+'-1'">
				<youtube-player [videoId]="content['video']" suggestedQuality="highres" [height]="height" [width]="width"></youtube-player>
			</section>
		</ng-container>

		<ng-container *ngIf="content['order']%2 === 0">
			<section *ngIf="content['video']" class="grid-col-1-1" [ngClass]="'grid-row-'+content['order']+'-1'">
				<youtube-player [videoId]="content['video']" suggestedQuality="highres" [height]="height" [width]="width"></youtube-player>
			</section>
			<article [class]="'grid-row-'+content['order']+'-1'" [ngClass]="content['video'] ? 'grid-col-2-2' : 'grid-col-1-3'">
				<p [innerHTML]="content['text']"></p>
			</article>
		</ng-container>
	</ng-container>
</section>
<p *ngIf="!contents.length">Aucun contenu disponible pour l'instant.</p>