<p *ngIf="successMessage" class="text-center text-bold color-green card-sm card-float border-round-5 mar-x-auto pad-5">
	Inscription réussie !<br>Nous vous avons envoyé un mail de confirmation avec un lien pour activer votre
	compte.<br>Redirection vers la page d'accueil dans {{ timer }}</p>
<p *ngIf="failMessage" class="text-center text-bold control-error card-sm card-float border-round-5 mar-x-auto pad-5">
	Échec de l'inscription...<br>Redirection vers la page d'accueil dans {{ timer }}</p>

<section class="card-float-background" *ngIf="successMessage || failMessage"></section>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="card-md border-round-1 mar-x-auto pad-5">

	<fieldset class="control-group mar-y-2">
		<label for="firstname" class="control-legend">Prénom</label>
		<input id="firstname" type="text" formControlName="firstname" class="control" required aria-required="true"
			[ngClass]="{'invalid': (firstname && firstname.errors && (firstname.touched || firstname.dirty) && (firstname.errors['minlength'] || firstname.errors['required'])), 'valid': (firstname && !firstname.errors)}">
		<ng-container *ngIf="firstname && firstname.errors && (firstname.touched || firstname.dirty)">
			<p class="control-error" *ngIf="firstname && firstname.errors['minlength']">Prénom trop court (minimum 3
				caractères)</p>
			<p class="control-error" *ngIf="firstname && firstname.errors['pattern']">Chaque prénom doit commencer par
				une
				majuscule</p>
			<p class="control-error" *ngIf="firstname && firstname.errors['required']">Champ requis</p>
		</ng-container>
	</fieldset>

	<fieldset class="control-group mar-y-2">
		<label for="lastname" class="control-legend">Nom</label>
		<input id="lastname" type="text" formControlName="lastname" class="control" required aria-required="true"
			[ngClass]="{'invalid': (lastname && lastname.errors && (lastname.touched || lastname.dirty) && (lastname.errors['minlength'] || lastname.errors['required'])), 'valid': (lastname && !lastname.errors)}">
		<ng-container *ngIf="lastname && lastname.errors && (lastname.touched || lastname.dirty)">
			<p class="control-error" *ngIf="lastname && lastname.errors['minlength']">Nom trop court (minimum 3
				caractères)
			</p>
			<p class="control-error" *ngIf="lastname && lastname.errors['pattern']">Chaque nom doit commencer par une
				majuscule</p>
			<p class="control-error" *ngIf="lastname && lastname.errors['required']">Champ requis</p>
		</ng-container>
	</fieldset>

	<fieldset class="control-group mar-y-2">
		<label for="email" class="control-legend">Email</label>
		<input id="email" type="email" formControlName="email" class="control"
			required
			aria-required="true"
			[ngClass]="{'invalid': (email && email.errors && (email.touched || email.dirty) && (email.errors['required'] || email.errors['email'])), 'valid': (email && !email.errors)}">
		<ng-container *ngIf="email && email.errors && (email.touched || email.dirty)">
			<p class="control-error" *ngIf="email && email.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="email && email.errors['email']">Mauvais format d'email</p>
		</ng-container>
	</fieldset>

	<fieldset class="control-group mar-y-2">
		<label for="role" class="control-legend">Vous êtes un⋅e</label>
		<select id="role" class="select" aria-required="true" formControlName="type">
			<option value="NR">Non renseigné</option>
			<option value="STUDENT">Étudiant⋅e</option>
			<option value="TEACHER">Enseignant⋅e</option>
			<option value="RESEARCHER">Chercheur⋅e</option>
			<option value="LECTURER-RESEARCHER">Enseignant⋅e-chercheur⋅e</option>
			<option value="COMPANY">Professionnel entreprise</option>
			<option value="OTHER">Professionnel autre</option>
		</select>
	</fieldset>

	<fieldset class="control-group mar-y-2">
		<label for="password" class="control-legend">Mot de passe</label>
		<input type="password" formControlName="password" id="password" class="control"
			required
			aria-required="true"
			[ngClass]="{'invalid': (password && password.errors && (password.touched || password.dirty) && (password.errors['required'] || password.errors['pattern'])), 'valid': (password && !password.errors)}">
		<ng-container *ngIf="password && password.errors && (password.touched || password.dirty)">
			<p class="control-error" *ngIf="password && password.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="password && password.errors['uppercase'] && !password.errors['required']">Le
				mot
				de passe doit contenir au minimum une majuscule</p>
			<p class="control-error" *ngIf="password && password.errors['lowercase'] && !password.errors['required']">Le
				mot
				de passe doit contenir au minimum une minuscule</p>
			<p class="control-error" *ngIf="password && password.errors['numeric'] && !password.errors['required']">Le
				mot
				de passe doit contenir au minimum un chiffre</p>
			<p class="control-error" *ngIf="password && password.errors['specialChar'] && !password.errors['required']">
				Le
				mot de passe doit contenir au minimum un caractère spécial</p>
			<p class="control-error" *ngIf="password && password.errors['length'] && !password.errors['required']">Le
				mot de
				passe doit contenir au minimum 8 caractères</p>
		</ng-container>
	</fieldset>

	<fieldset class="control-group mar-y-4">
		<label for="confirmPassword" class="control-legend">Retapez votre mot de passe</label>
		<input type="password" formControlName="confirmPassword"
			required
			aria-required="true"
			[ngClass]="{'invalid': (confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.errors['required'])) || (confirmPassword && !confirmPassword.errors && userForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)), 'valid': (confirmPassword && !confirmPassword.errors)}"
			id="confirmPassword" class="control">
		<ng-container
			*ngIf="confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)">
			<p class="control-error" *ngIf="confirmPassword && confirmPassword.errors['required']">Champ requis</p>
		</ng-container>
		<p class="control-error"
			*ngIf="confirmPassword && !confirmPassword.errors && userForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)">
			Les deux mots de passe sont
			différents</p>
	</fieldset>

	<fieldset>
		<input type="checkbox" id="legalNotice" formControlName="legalNotice" required aria-required="true" class="mar-e-3">
		<label for="legalNotice">J'ai lu et je suis d'accord avec les <a class="link text-underline color-middle-blue"
				href="/#/legalNotice" target="_blank">mentions légales</a> et la <a
				class="link text-underline color-middle-blue" href="/#/rgpd" target="_blank">politique de
				confidentialité</a></label>
	</fieldset>

	<button type="submit" [disabled]="!userForm.valid || !legalNotice.value"
		[ngClass]="userForm.valid && legalNotice.value ? 'btn-green' : 'btn-outline-grey'"
		class="mar-t-5">Valider</button>
</form>