<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-sm border-round-1 mar-x-auto pad-5">
    <fieldset class="control-group mar-y-2">
		<label for="email" class="control-legend">Email</label>
		<input id="email" type="email" formControlName="email" class="control" required aria-required="true"
			[ngClass]="{'invalid': (email && email.errors && (email.touched || email.dirty) && (email.errors['required'] || email.errors['email'])), 'valid': (email && !email.errors)}">
		<ng-container *ngIf="email && email.errors && (email.touched || email.dirty)">
			<p class="control-error" *ngIf="email && email.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="email && email.errors['email']">Mauvais format d'email</p>
		</ng-container>
	</fieldset>

    <fieldset class="control-group mar-y-2">
        <label for="password" class="control-legend">Mot de passe</label>
        <input type="password" id="password" formControlName="password" class="control border-round-1" required aria-required="true"
            [ngClass]="{'invalid': (password && password.errors && (password.touched || password.dirty)), 'valid': (password && !password.errors)}">
        <ng-container *ngIf="password && password.errors && (password.touched || password.dirty)">
            <p class="color-red" *ngIf="password && password.errors['required']">Champ requis</p>
        </ng-container>
    </fieldset>

    <ng-container *ngIf="feedback">
        <p class="control-error mar-b-2" *ngIf="feedback['status']">{{ feedback['message'] }}</p>
    </ng-container>

    <a class="link-underline color-middle-blue text-size-1" [routerLink]="['/' + forgotURL]">Mot de passe oublié ?</a>


    <button type="submit" [disabled]="!loginForm.valid" [ngClass]="{'btn-outline-grey': !loginForm.valid, 'btn-green': loginForm.valid}" class="mar-t-5">Se connecter</button>
</form>