<p *ngIf="successMessage" class="text-center text-bold color-green card-sm card-float border-round-5 mar-x-auto pad-5">Nouveau mot de passe enregistré !<br>Redirection vers la page d'accueil dans {{ timer }}</p>
<p *ngIf="failMessage" class="text-center text-bold color-red card-sm card-float border-round-5 mar-x-auto pad-5">Échec de la réinitialisation du mot de passe...<br>Redirection vers la page d'accueil dans {{ timer }}</p>

<section class="card-md border-round-1 mar-x-auto pad-5">
	<h3 class="h-3">Renouvellement du mot de passe</h3>
	<form [formGroup]="passwdForm" (ngSubmit)="sumbit()">
		<fieldset class="control-group mar-y-2">
			<label for="password" class="control-legend">Mot de passe</label>
			<input type="password" id="password" formControlName="password" class="control" [ngClass]="{'invalid': (password && password.errors && (password.touched || password.dirty)), 'valid': (password && !password.errors)}">
			<ng-container *ngIf="password && password.errors && (password.touched || password.dirty)">
				<p class="control-error" *ngIf="password && password.errors['required']">Champ requis</p>
				<p class="control-error" *ngIf="password && password.errors['uppercase'] && !password.errors['required']">Le mot
					de passe doit contenir au minimum une majuscule</p>
				<p class="control-error" *ngIf="password && password.errors['lowercase'] && !password.errors['required']">Le mot
					de passe doit contenir au minimum une minuscule</p>
				<p class="control-error" *ngIf="password && password.errors['numeric'] && !password.errors['required']">Le mot
					de passe doit contenir au minimum un chiffre</p>
				<p class="control-error" *ngIf="password && password.errors['specialChar'] && !password.errors['required']">Le
					mot de passe doit contenir au minimum un caractère spécial</p>
				<p class="control-error" *ngIf="password && password.errors['length'] && !password.errors['required']">Le mot de
					passe doit contenir au minimum 8 caractères</p>
			</ng-container>
		</fieldset>

		<fieldset class="control-group mar-y-2">
			<label for="confirmPassword" class="control-legend">Retapez votre mot de passe</label>
			<input type="password" formControlName="confirmPassword"
				[ngClass]="{'invalid': (confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.errors['required'])) || (confirmPassword && !confirmPassword.errors && passwdForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)), 'valid': (confirmPassword && !confirmPassword.errors)}"
				id="confirmPassword" class="control">
			<ng-container
				*ngIf="confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)">
				<p class="control-error" *ngIf="confirmPassword && confirmPassword.errors['required']">Champ requis</p>
			</ng-container>
			<p class="control-error"
				*ngIf="confirmPassword && !confirmPassword.errors && passwdForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)">
				Les deux mots de passe sont
				différents</p>
		</fieldset>

		<button type="submit" [disabled]="!passwdForm.valid" [ngClass]="{'btn-outline-grey': !passwdForm.valid, 'btn-green': passwdForm.valid}" class="mar-t-5">Valider</button>
	</form>
</section>