<form class="flex-col-c justify-content-center" [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
	<fieldset class="control-group mar-y-2">
		<label for="old_password" class="control-legend">Mot de passe actuel</label>
		<input type="password" id="old_password" formControlName="old_password" class="control border-round-1" [ngClass]="{'invlaid': (old_password && old_password.errors && (old_password.touched || old_password.dirty)), 'valid': (old_password && ! old_password.errors)}">
		<ng-container *ngIf="old_password && old_password.errors && (old_password.touched || old_password.dirty)">
			<p class="control-error" *ngIf="old_password && old_password.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="old_password && old_password.errors['uppercase'] && !old_password.errors['required']">Le mot
				de passe doit contenir au minimum une majuscule</p>
			<p class="control-error" *ngIf="old_password && old_password.errors['lowercase'] && !old_password.errors['required']">Le mot
				de passe doit contenir au minimum une minuscule</p>
			<p class="control-error" *ngIf="old_password && old_password.errors['numeric'] && !old_password.errors['required']">Le mot
				de passe doit contenir au minimum un chiffre</p>
			<p class="control-error" *ngIf="old_password && old_password.errors['specialChar'] && !old_password.errors['required']">Le
				mot de passe doit contenir au minimum un caractère spécial</p>
			<p class="control-error" *ngIf="old_password && old_password.errors['length'] && !old_password.errors['required']">Le mot de
				passe doit contenir au minimum 8 caractères</p>
		</ng-container>
	</fieldset>
	<fieldset class="control-group mar-y-2">
		<label for="password" class="control-legend">Mot de passe</label>
		<input type="password" formControlName="password" id="password" class="control"
			[ngClass]="{'invalid': (password && password.errors && (password.touched || password.dirty) && (password.errors['required'] || password.errors['pattern'])), 'valid': (password && !password.errors)}">
		<ng-container *ngIf="password && password.errors && (password.touched || password.dirty)">
			<p class="control-error" *ngIf="password && password.errors['required']">Champ requis</p>
			<p class="control-error" *ngIf="password && password.errors['uppercase'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum une majuscule</p>
			<p class="control-error" *ngIf="password && password.errors['lowercase'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum une minuscule</p>
			<p class="control-error" *ngIf="password && password.errors['numeric'] && !password.errors['required']">Le mot
				de passe doit contenir au minimum un chiffre</p>
			<p class="control-error" *ngIf="password && password.errors['specialChar'] && !password.errors['required']">Le
				mot de passe doit contenir au minimum un caractère spécial</p>
			<p class="control-error" *ngIf="password && password.errors['length'] && !password.errors['required']">Le mot de
				passe doit contenir au minimum 8 caractères</p>
		</ng-container>
	</fieldset>
	<fieldset class="control-group mar-y-2">
		<label for="confirmPassword" class="control-legend">Retapez votre mot de passe</label>
		<input type="password" formControlName="confirmPassword"
			[ngClass]="{'invalid': (confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.errors['required'])) || (confirmPassword && !confirmPassword.errors && passwordForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)), 'valid': (confirmPassword && !confirmPassword.errors)}"
			id="confirmPassword" class="control">
		<ng-container
			*ngIf="confirmPassword && confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)">
			<p class="control-error" *ngIf="confirmPassword && confirmPassword.errors['required']">Champ requis</p>
		</ng-container>
		<p class="control-error"
			*ngIf="confirmPassword && !confirmPassword.errors && passwordForm.hasError('mismatch') && (confirmPassword.touched || confirmPassword.dirty)">
			Les deux mots de passe sont
			différents</p>
	</fieldset>

	<fieldset class="flex-row-c justify-content-between">
		<button type="button" (click)="goBack()" class="btn-outline-middle-blue">Annuler</button>
		<button type="submit" [disabled]="passwordForm.invalid" [ngClass]="{'btn-outline-grey': passwordForm.invalid, 'btn-green': passwordForm.valid}">Valider</button>
	</fieldset>
	<ng-container *ngIf="feedback">
		<p class="text-center" [ngClass]="{'control-error': !feedback['status'], 'control-valid': feedback['status']}">{{ feedback['message'] }}</p>
	</ng-container>
</form>