<ng-container *ngIf="state === 'groupList'">
	<button title="Nouveau groupe" type="button" class="btn-outline-green align-self-end pos-absolute" (click)="toggleNewGroup()"><fa-icon [icon]="faPlus"></fa-icon></button>
	<ng-container *ngIf="groups.length <= 0">
		<p>Vous n'êtes membre d'aucun groupe de travail</p>
	</ng-container>
	
	<ng-container *ngIf="groups.length >= 1">
		<h2 class="h-2">Vos groupes</h2>
		<ul class="max-h-vh-40 overflow-scroll grid-rows-1 gap-sm w-percent-100 mar-x-auto pad-b-3">
			<li *ngFor="let group of groups" class="flex-row-c justify-content-between mar-b-2">
				<p class="display-inline text-left">
					{{ group['name'] }}&nbsp;
					<fa-icon [title]="group['status'] ? 'Groupe public' : 'Groupe privé'" [icon]="group['status'] ? faLockOpen : faLock" [ngClass]="group['status'] ? 'color-green' : 'color-yellow'"></fa-icon>&nbsp;
					<fa-icon title="Vous êtes propriétaire de ce groupe" *ngIf="group['owner']" [icon]="faCrown" class="color-red"></fa-icon>
				</p>
				&nbsp;<button [title]="'Détails du groupe ' + group['name']" (click)="toggleGroupDetails(false, group)" class="btn-outline-middle-blue"><fa-icon [icon]="faEdit"></fa-icon></button></li>
		</ul>
	</ng-container>

	<ng-container *ngIf="public_groups.length >= 1">
		<h2 class="h-2">Groupes publics</h2>
		<section class="h-vh-15 w-percent-100 overflow-scroll">
			<ul class="w-percent-98">
				<li *ngFor="let group of public_groups" class="flex-row-c justify-content-between mar-b-2">{{ group['name'] }}&nbsp;<button [title]="'Rejoindre le groupe ' + group['name']" (click)="joinGroup(group['id'])" class="btn-outline-middle-blue"><fa-icon [icon]="faRightToBracket"></fa-icon></button></li>
			</ul>
		</section>
	</ng-container>
</ng-container>


<ng-container *ngIf="state === 'newGroup'">
	<h3 class="h-3">Nouveau groupe</h3>
	<app-create-groups (rollback)="toggleNewGroup($event)"></app-create-groups>
</ng-container>

<ng-container *ngIf="state === 'groupDetails'">
	<app-group-details (rollback)="toggleGroupDetails($event)" [selectedGroup]="selectedGroup"></app-group-details>
</ng-container>