<section class="card-md border-round-1 mar-x-auto mar-y-5 grid-5-1 h-vh-60 w-vw-70 overflow-hidden">
	<aside class="grid-col-1-1 border-right-1">
		<ul>
			<li class="mar-y-5"><a class="link-underline" [ngClass]="{'color-green': state === 'general'}" (click)="changeState('general')">Compte</a></li>
			<li class="mar-y-5"><a class="link-underline" [ngClass]="{'color-orange': state === 'groups'}" (click)="changeState('groups')">Groupes</a></li>
			<li class="mar-y-5"><a class="link-underline" [ngClass]="{'color-middle-blue': state === 'projects'}" (click)="changeState('projects')">Cartes</a></li>
			<li class="mar-y-5" *ngIf="isAdmin"><a class="link-underline" [ngClass]="{'color-pink': state === 'backoffice'}" (click)="changeState('backoffice')">Gestion des usagers</a></li>
			<li class="mar-y-5" *ngIf="isAdmin"><a class="link-underline" [ngClass]="{ 'color-yellow': state === 'content'}" (click)="changeState('content')">Gestion des contenus</a></li>
		</ul>
	</aside>
	<section class="grid-col-2-5 flex-col-c justify-content-stretch pad-y-5">
		<ng-container *ngIf="state === 'general'">
			<app-account [user]="user" *ngIf="user" class="w-percent-90 flex-col-c"></app-account>
		</ng-container>

		<ng-container *ngIf="state === 'groups'">
			<app-groups class="w-percent-90 flex-col-c"></app-groups>
		</ng-container>

		<ng-container *ngIf="state === 'projects'">			
			<app-projects class="w-percent-90 flex-col-c"></app-projects>
		</ng-container>

		<ng-container *ngIf="state === 'backoffice' && isAdmin">
			<app-back-office class="w-percent-90 flex-col-c"></app-back-office>
		</ng-container>

		<ng-container *ngIf="state === 'content' && isAdmin">
			<app-content class="w-percent-90 flex-col-c"></app-content>
		</ng-container>
	</section>
</section>