* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

body {
	width: 100vw;
	margin: 0 auto;
	line-height: 1;
	font-size: 1.2rem;
}

sup {
	vertical-align: super;
	font-size: .8rem;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
