<p class="mar-b-3">Êtes-vous sûr⋅e ? Toute suppression est définitive.</p>

<p class="mar-y-3" *ngIf="feedback" [ngClass]="feedback === 'success' ? 'control-valid' : 'control-error'">{{ feedback === 'success' ? 'Le projet a été supprimé.' : 'Échec de la suppression du projet.' }}</p>

<button type="button" class="btn-outline-green display-inline mar-e-3" (click)="deleteToggler()">Annuler</button>

<button type="button" class="btn-red display-inline" (click)="delete()">Confirmer</button>
