<p *ngIf="successMessage" class="text-center text-bold color-green card-sm card-float border-round-5 mar-x-auto pad-5">Votre message a bien été transmis, nous vous répondrons sur votre boîte mail dès que possible.<br>Redirection vers la page d'accueil dans {{ timer }}</p>

<form class="card-lg border-round-1 mar-x-auto mar-y-5 pad-5 h-vh-60 w-vw-70 overflow-scroll" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h1 class="h-1">Contactez-nous</h1>
    <fieldset class="control-group mar-y-2">
        <label for="email" class="control-legend">Email</label>
        <input type="email" id="email" formControlName="from" class="control" required aria-required="true" [ngClass]="(from.touched || from.dirty) ? (from && from.errors) ? 'invalid' : 'valid' : null">
    </fieldset>

    <fieldset class="control-group mar-y-2">
        <label for="subject" class="control-legend">Sujet</label>
        <input type="text" id="subject" class="control" formControlName="subject" required aria-required="true" [ngClass]="(subject.touched || subject.dirty) ? (subject && subject.errors) ? 'invalid' : 'valid' : null">
    </fieldset>

    <fieldset class="control-group mar-y-2">
        <label for="message" class="control-legend">Message</label>
        <textarea id="message" class="control" rows="10" formControlName="message" required aria-required="true" [ngClass]="(message.touched || message.dirty) ? (message && message.errors) ? 'invalid' : 'valid' : null"></textarea>
    </fieldset>

    <fieldset class="control-group mar-y-2 display-none">
        <label for="honeyPot" class="control-legend">HoneyPot</label>
        <input type="text" class="control" id="honeyPot" formControlName="honeyPot">
    </fieldset>

    <button type="submit" class="mar-x-auto" [ngClass]="contactForm.valid ? 'btn-green' : 'btn-outline-grey'" [disabled]="contactForm.invalid">Valider</button>    
</form>