<section class="border-round-1 bgc-fade-white pos-relative overflow-hidden mar-x-auto mar-b-3 w-vw-90 h-percent-95">
    <section #networkContainer class="pos-absolute-extends"></section>
    <app-legend [mapLoaded]="true"></app-legend>
    <app-pre-map-edit [data]="formatedData" [edgeNumber]="edgesNum" (newEdge)="addNewEdge($event)" (detachNode)="removeEdge($event)" (formatedData)="updateData($event)"></app-pre-map-edit>
</section>

<section class="flex-row-c gap-md mar-x-auto">
    <button type="button" class="btn-outline-yellow" (click)="goBack()"><fa-icon [icon]="faArrowLeft"></fa-icon>&nbsp;Précédent</button>
    <button type="button" class="btn-outline-green" (click)="validateCorpus()"><fa-icon [icon]="faSave"></fa-icon>&nbsp;Valider</button>
</section>