<svg class="spinner" viewBox="0 0 50 50" *ngIf="isLoading">
    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
</svg>

<section *ngIf="alertMessage" class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5 flex-row-c justify-content-center gap-md">
    <p class="w-percent-100">Vous avez des éléments non sauvegardés. Voulez-vous vraiment quitter la page ? Les éléments non sauvegardés seront perdus.</p>
    <button class="btn-outline-green mar-e-3" (click)="onCancel()">Rester</button>
    <button class="btn-red" (click)="onContinue()">Quitter</button>
</section>

<section class="border-round-1 bgc-fade-white pos-relative overflow-hidden mar-x-auto w-vw-90 h-percent-85">
    <section #networkContainer class="pos-absolute-extends"></section>
    <app-legend [mapLoaded]="status ? true : false"></app-legend>
    <app-map-filters (filters)="filter($event)" [mapLoaded]="['mapLoaded'].includes(status) ? true : false"></app-map-filters>
</section>

<section class="bgc-fade-white border-round-1 text-center mar-x-auto justify-content-center mar-t-2 pad-2 flex-row-c w-vw-90 h-percent-13 gap-sm">
    <ng-container *ngIf="status === null && ['lg', 'xl'].includes(type)">
        <app-group-selector class="column-5"></app-group-selector>
        <app-proxyma-loader (loadSignal)="load($event)" class="column-5"></app-proxyma-loader>
        <button type="button" class="btn-outline-middle-blue column-2 my-3" (click)="setStatus('createMap')">Nouvelle carte</button>
        <button type="button" class="btn-outline-middle-blue column-2 my-3" (click)="setStatus('importMap')">Importer une carte</button>
    </ng-container>

    <ng-container *ngIf="status === null && ['xs', 'md'].includes(type)">
        <button class="btn-outline-pink" (click)="setStatus('groupSelect')">Groupes</button>
        <button class="btn-outline-orange" (click)="setStatus('loadProject')">Cartes</button>
        <button class="btn-outline-middle-blue" (click)="setStatus('createMap')">Nouveau</button>
        <button class="btn-outline-middle-blue" (click)="setStatus('importMap')">Importer</button>
    </ng-container>

    <ng-container *ngIf="status === 'groupSelect' || status === 'loadProject' && ['xs', 'md'].includes(type)">
        <app-group-selector *ngIf="status === 'groupSelect'"></app-group-selector>

        <app-proxyma-loader *ngIf="status === 'loadProject'" (loadSignal)="load($event)"></app-proxyma-loader>

        <button type="button" class="btn-outline-yellow" (click)="setStatus()"><fa-icon [icon]="faArrowRotateBack"></fa-icon></button>
    </ng-container>


    <app-create-map *ngIf="status === 'createMap'" [type]="type" (unsavedChanges)="setUnsavedChanges($event)" (rollback)="setStatus()" (newNode)="addNewNode($event)" (newEdge)="addNewEdge($event)" (detachNode)="detachNode($event)" (modifyNode)="updateNode($event)" (destroyNode)="destroyNode($event)" class="column-12"></app-create-map>

    <app-create-map *ngIf="status === 'importMap'" [type]="type" [projectNamed]="true" [import]="true" [uploadMap]="true" (unsavedChanges)="setUnsavedChanges($event)" (rollback)="setStatus()" (newNode)="addNewNode($event)" (newEdge)="addNewEdge($event)" (detachNode)="detachNode($event)" (modifyNode)="updateNode($event)" (destroyNode)="destroyNode($event)" class="column-12"></app-create-map>
    

    <ng-container *ngIf="status === 'mapLoaded'">
        <h4 class="h-4 pos-absolute top-74">{{ proxyma_title }}</h4>
        <ul class="flex-row-c justify-content-evenly gap-sm">
            <li>
                <button type="button" class="btn-outline-middle-blue" (click)="setStatus('editMap')"><fa-icon [icon]="faEdit"></fa-icon>&nbsp;Éditer</button>
            </li>
            <li>
                <button class="btn-outline-red" (click)="setStatus('deleteMap')"><fa-icon [icon]="faTrash"></fa-icon>&nbsp;Supprimer</button>
            </li>
            <li>
                <button type="button" class="btn-outline-yellow" (click)="setStatus()"><fa-icon [icon]="faArrowRotateBack"></fa-icon>&nbsp;Retour</button>
            </li>
        </ul>
    </ng-container>

    <ng-container *ngIf="status === 'editMap'">
        <app-modify-map [type]="type" [data]="rawMap" [edgeNumber]="edges.length" (unsavedChanges)="setUnsavedChanges($event)" (rollback)="setStatus('mapLoaded')" (newNode)="addNewNode($event)" (newEdge)="addNewEdge($event)" (detachNode)="detachNode($event)" (modifyNode)="updateNode($event)" (destroyNode)="destroyNode($event)" class="column-12"></app-modify-map>
    </ng-container>

    <ng-container *ngIf="status === 'deleteMap'">
        <app-proxyma-deleter [proxyma_corpus_id]="proxyma_corpus_id" (rollBack)="setStatus(undefined, $event)" class="column-12"></app-proxyma-deleter>
    </ng-container>

</section>


<section class="card-float-background" *ngIf="alertMessage" (click)="onCancel()"></section>
