<form class="w-percent-100" [formGroup]="contentForm" (ngSubmit)="onSubmit()">
    <fieldset class="control-group mar-b-2">
        <label for="content" class="control-legend">Contenu</label>
        <select id="content" class="select" formControlName="content">
            <optgroup label="Page d'accueil" *ngIf="HP.length">
                <option *ngFor="let content of HP" [ngValue]="content">{{ content['title'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Actualités" *ngIf="NEWS.length">
                <option *ngFor="let content of NEWS" [ngValue]="content">{{ content['title'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Traces de bas niveau" *ngIf="LLT.length">
                <option *ngFor="let content of LLT" [ngValue]="content">{{ content['text'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Traces de haut niveau" *ngIf="HLT.length">
                <option *ngFor="let content of HLT" [ngValue]="content">{{ content['text'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Préparation des données" *ngIf="DF.length">
                <option *ngFor="let content of DF" [ngValue]="content">{{ content['text'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Base de données graphique" *ngIf="DB.length">
                <option *ngFor="let content of DB" [ngValue]="content">{{ content['text'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Carte de compétences" *ngIf="MB.length">
                <option *ngFor="let content of MB" [ngValue]="content">{{ content['text'].slice(0, 50) }}...</option>
            </optgroup>
            <optgroup label="Politique de confidentialité" *ngIf="RGPD.length">
                <option *ngFor="let content of RGPD" [ngValue]="content">{{ content['title'].slice(0,50) }}</option>
            </optgroup>
            <optgroup label="Mentions légales" *ngIf="LN.length">
                <option *ngFor="let content of LN" [ngValue]="content">{{ content['title'].slice(0, 50) }}</option>
            </optgroup>
            <option value="new">Nouveau contenu</option>
        </select>
    </fieldset>

    <fieldset class="control-group mar-b-2" *ngIf="contentForm.get('content').value">
        <label for="type" class="control-legend">Type</label>
        <select id="type" class="select" formControlName="type">
            <option value="HP">Page d'accueil</option>
            <option value="NEWS">Actualités</option>
            <option value="RGPD">Politique de confidentialité</option>
            <option value="LN">Mentions légales</option>
            <optgroup label="carousel PROXYMA">
                <option value="LLT">Collecte des traces de bas niveau</option>
                <option value="HLT">Collecte des traces de haut niveau</option>
                <option value="DF">Préparation des données</option>
                <option value="DB">Mise en base de données graphique</option>
                <option value="MB">Construction de la carte des compétences</option>
            </optgroup>
        </select>
    </fieldset>

    <ng-container *ngIf="contentForm.get('type').value && !['HP', 'NEWS', 'RGPD', 'LN'].includes(contentForm.get('type').value)">
        <fieldset class="control-group mar-b-2" title="HTML pris en charge">
            <label for="text" class="control-legend">Texte</label>
            <textarea id="text" class="control" rows="12" formControlName="text"></textarea>
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="video" class="control-legend">Vidéo</label>
            <input id="video" type="text" class="control" formControlName="video">
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="order" class="control-legend">Ordre d'affichage</label>
            <input id="order" type="number" class="control" min="1" formControlName="order">
        </fieldset>
    </ng-container>

    <ng-container *ngIf="contentForm.get('type').value && contentForm.get('type').value === 'NEWS'">
        <fieldset class="control-group mar-b-2">
            <label for="title" class="control-legend">Titre</label>
            <input type="text" id="title" class="control" formControlName="title">
            <label for="date" class="control-legend">publié à partir de</label>
            <input type="date" id="date" class="control" formControlName="date">
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="text" class="control-legend">Texte</label>
            <textarea id="text" class="control" rows="12" formControlName="text"></textarea>
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="img" class="control-legend">Image</label>
            <input type="url" id="img" class="control" formControlName="img">
            <label for="imgAlt" class="control-legend">texte alternatif</label>
            <input type="text" id="imgAlt" class="control" formControlName="imgAlt">
        </fieldset>
    </ng-container>

    <ng-container *ngIf="contentForm.get('type').value && ['RGPD', 'LN'].includes(contentForm.get('type').value)">
        <fieldset class="control-group mar-b-2">
            <label for="title" class="control-legend">Titre</label>
            <input id="title" type="text" class="control" formControlName="title">
        </fieldset>

        <fieldset class="control-group mar-b-2" title="HTML pris en charge">
            <label for="text" class="control-legend">Texte</label>
            <textarea id="text" class="control" rows="12" formControlName="text"></textarea>
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="order" class="control-legend">Ordre d'affichage</label>
            <input id="order" type="number" class="control" min="1" formControlName="order">
        </fieldset>
    </ng-container>

    <ng-container *ngIf="contentForm.get('type').value && contentForm.get('type').value === 'HP'">
        <fieldset class="control-group mar-b-2">
            <label for="title" class="control-legend">Titre</label>
            <input id="title" type="text" class="control" formControlName="title">
        </fieldset>

        <fieldset class="control-group mar-b-2">
            <label for="subTitle" class="control-legend">Sous-titre</label>
            <textarea id="text" class="control" rows="12" formControlName="subTitle"></textarea>
        </fieldset>
    </ng-container>
    

    <button type="submit" class="mar-e-2" [ngClass]="contentForm.valid ? 'btn-green' : 'btn-outline-grey'" [disabled]="contentForm.invalid">Valider</button>

    <button type="button" [ngClass]="contentForm.get('content').value && contentForm.get('content').value !== 'new' ? 'btn-red' : 'btn-outline-grey'" [disabled]="!contentForm.get('content').value || contentForm.get('content').value === 'new'" (click)="deleteContent()">Supprimer</button>
</form>