<button type="button" class="btn-outline-middle-blue mar-b-3 mar-e-3" (click)="getRawData()">Télécharger vos données brutes</button>
<button type="button" class="btn-outline-red" (click)="deleteCorpus()">Supprimer ce corpus</button>

<ul class="click-me-container grid-col-1 gap-md w-percent-98 mar-x-auto mar-b-3">
    <li class="border-round-1 click-me-element" *ngFor="let part of data['activities']" (click)="dataVizToggle(true, part)">{{ part["activity"] }}</li>
</ul>

<app-data-viz *ngIf="openDataViz" class="card-float card-lg border-round-5 mar-x-auto mar-b-5 pad-5 flex-col-c justify-content-center gap-md" [selectData]="selectData" [corpusId]="corpusId" [corpusName]="corpusName"></app-data-viz>

<section *ngIf="openDataViz" class="card-float-background" (click)="dataVizToggle(false)"></section>