<h2 class="h-2">Liste des utilisateurs</h2>

<button type="button" class="btn-outline-green mar-b-3" (click)="downloadUsersList()">Télécharger la liste des utilisateurs</button>
<section class="overflow-scroll w-percent-100 max-h-vh-15">
	<table *ngIf="users" class="table">
	<thead class="table-head">
		<tr>
			<th>Nom</th>
			<th>Email</th>
			<th>Type</th>
			<th>Actif</th>
			<th>Cartes</th>
			<th>Dernière connexion</th>
			<th>Supprimer le compte</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users" class="table-row">
			<td>{{ user['firstname'] }} {{ user['lastname'] }}</td>
			<td>{{ user['email'] }}</td>
			<td>{{ user['type'] }}</td>
			<td><fa-icon [title]="user['is_active'] ? 'actif' : 'inactif'" [ngClass]="user['is_active'] ? 'color-green' : 'color-yellow'" [icon]="user['is_active'] ? faCheck : faX" ></fa-icon></td>
			<td>{{ user['total_maps'] }}</td>
			<td>{{ user['last_login'] }}</td>
			<td><button [ngClass]="user['is_superuser'] ? 'btn-outline-grey' : 'btn-outline-red'" [disabled]="user['is_superuser']" (click)="toggleDeleteUser(user)"><fa-icon [icon]="faTrash"></fa-icon></button></td>
		</tr>
	</tbody>
</table>
</section>


<h2 class="h-2 mar-t-5">Liste des groupes</h2>

<section class="overflow-scroll w-percent-100 max-h-vh-15">
	<table *ngIf="groups" class="table">
	<thead class="table-head">
		<tr>
			<th>Nom</th>
			<th>Statut</th>
			<th>Propriétaire</th>
			<th>Nombre de membres</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let group of groups" class="table-row">
			<td>{{ group['name'] }}</td>
			<td><fa-icon [title]="group['status'] ? 'public' : 'privé'" [ngClass]="group['status'] ? 'color-green' : 'color-yellow'" [icon]="group['status'] ? faLockOpen : faLock"></fa-icon></td>
			<td>{{ group['owner'] }}</td>
			<td>{{ group['total_members'] }}</td>
		</tr>
	</tbody>
</table>
</section>


<button class="btn-yellow mar-t-5" (click)="toggleServicing()">Prévoir une maintenance</button>

<section class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5 flex-row-c justify-content-center gap-md" *ngIf="user">
	<p>Êtes-vous sûr⋅e de vouloir supprimer l'utilisateur {{ user['firstname'] }} {{ user['lastname'] }} ? Cette action est définitive.</p>
	<button class="btn-outline-green mar-e-3" (click)="toggleDeleteUser()">Retour</button>
	<button class="btn-red" (click)="deleteUser(user['user_id'])">Confirmer</button>
	<p *ngIf="error" class="control-error">Vous ne pouvez pas supprimer votre propre compte.</p>
</section>

<form [formGroup]="notifForm" (ngSubmit)="notifyServicing()" class="card-float card-sm text-center border-round-5 mar-x-auto mar-b-5 pad-5 flex-row-c justify-content-center gap-md" *ngIf="servicing">
	<legend>Tous les utilisateurs seront prévenus de la maintenance à venir.</legend>
	<fieldset class="control-group mar-b-3">
		<label for="start" class="control-legend">De</label>
		<input type="datetime-local" id="start" class="control" formControlName="start">
		<ng-container *ngIf="start && start.errors">
			<p *ngIf="start.errors['minDate']" class="control-error">La date et l'heure de début de la maintenance doivent être supérieures à la date et l'heure actuelles .</p>
		</ng-container>
	</fieldset>
	<fieldset class="control-group mar-b-3">
		<label for="end" class="control-legend">Jusqu'à</label>
		<input type="datetime-local" id="end" class="control" formControlName="end">
		<p *ngIf="end && notifForm.hasError('minDate') && (end.touched || end.dirty)" class="control-error">La date de fin de la maintenance doit être supérieure à la date de début.</p>
	</fieldset>
	<button type="button" class="btn-outline-green mar-e-3" (click)="toggleServicing()">Retour</button>
	<button type="submit" [ngClass]="{'btn-yellow': notifForm.valid, 'btn-outline-grey': notifForm.invalid}" [disabled]="notifForm.invalid">Valider</button>
</form>

<section class="card-float-background" *ngIf="user || servicing" (click)="user ? toggleDeleteUser() : toggleServicing()"></section>